# THERE ARE SOME FILES YOU SHOULD GRAB WHEN YOU CLONE
# Notes/TODO/STEPS FOR NEW DROPLETS

__pychache__
Notes/TODO/MVP.docx
Notes/TODO/unused code.txt
Notes/TODO/STEPS FOR NEW DROPLETS

Python/__pycache__
Python/__pychache__

Python/logs/
Python/logs/
Python/logs/distro
Python/HISTORY
Python/Paypal
Python/Stripe
Python/db_connection.py
Python/my_email.py
Python/paypal_gmail.py
Python/testing_database.py
Python/token.pickle
Python/AI/code/local_nsfw_detector.py
Python/AI/code/local_nudenet.py
Python/AI/code/local_tensorflow.py

static/#UserData
venv/
Python/all_dates.csv
Python/current_date.csv
Python/AI/porn_dataset
Python/nude_test/

__pycache__/app.cpython-38.pyc
__pycache__/app.cpython-310.pyc
__pycache__/mansura.cpython-38.pyc
__pycache__/mansura.cpython-310.pyc
__pycache__/wsgi.cpython-38.pyc
__pycache__/wsgi.cpython-310.pyc

Python/logs/distro/Daily/2022-12-04/FULL_SET.txt
ystemctl daemon-reload
upercompooper
