# THERE ARE SOME FILES YOU SHOULD GRAB WHEN YOU CLONE
# Notes/TODO/STEPS FOR NEW DROPLETS
!OLD_MANSURA

__pychache__
Notes/TODO/MVP.docx
Notes/TODO/unused code.txt
Notes/TODO/STEPS FOR NEW DROPLETS

python/__pycache__
python/__pychache__

python/logs/
python/logs/
python/logs/distro
python/HISTORY
python/Paypal
python/Stripe
python/db_connection.py
python/dbconnection.py
python/my_email.py
python/paypal_gmail.py
python/testing_database.py
python/token.pickle
python/AI/code/local_nsfw_detector.py
python/AI/code/local_nudenet.py
python/AI/code/local_tensorflow.py

static/#UserData
venv/
python/all_dates.csv
python/current_date.csv
python/AI/porn_dataset
python/nude_test/

__pycache__/app.cpython-38.pyc
__pycache__/app.cpython-310.pyc
__pycache__/mansura.cpython-38.pyc
__pycache__/mansura.cpython-310.pyc
__pycache__/wsgi.cpython-38.pyc
__pycache__/wsgi.cpython-310.pyc

python/logs/distro/Daily/2022-12-04/FULL_SET.txt
ystemctl daemon-reload
upercompooper
python/withdrawl.csv
logs/access/general/
Python/paypal_gmail.py
Python/HISTORY/Daily/2022-11-13-dist.csv
Python/HISTORY/Daily/2022-11-13.xlsx
Python/HISTORY/Daily/2022-11-14-dist.csv
Python/HISTORY/Daily/2022-11-14.xlsx
Python/HISTORY/Daily/2022-11-15.xlsx
Python/HISTORY/Daily/2022-11-16.xlsx
Python/HISTORY/Daily/2022-11-17.xlsx
Python/HISTORY/Daily/2022-11-18.xlsx
Python/HISTORY/Daily/2022-11-19.xlsx
Python/HISTORY/Daily/2022-11-20.xlsx
Python/HISTORY/Daily/2022-11-21.xlsx
Python/HISTORY/Daily/2022-11-22.xlsx
Python/HISTORY/Daily/2022-11-23.xlsx
Python/HISTORY/Daily/2022-11-24.xlsx
Python/HISTORY/Daily/2022-11-25.xlsx
Python/HISTORY/Daily/2022-11-26.xlsx
Python/HISTORY/Daily/2022-11-27.xlsx
Python/HISTORY/Daily/2022-11-28-dist.csv
Python/HISTORY/Daily/2022-11-28.xlsx
Python/HISTORY/Daily/2022-11-29.xlsx
Python/HISTORY/Daily/2022-11-30.xlsx
Python/HISTORY/Daily/2022-12-01.xlsx
Python/HISTORY/Daily/2022-12-02.xlsx
Python/HISTORY/Daily/2022-12-03.xlsx
Python/HISTORY/Daily/2022-12-04.xlsx
Python/HISTORY/Daily/2022-12-05.xlsx
Python/HISTORY/Daily/2022-12-06-dist.csv
Python/HISTORY/Daily/2022-12-06.xlsx
Python/HISTORY/Daily/2022-12-07.xlsx
Python/HISTORY/Daily/2022-12-08.xlsx
Python/HISTORY/Daily/2022-12-09.xlsx
Python/HISTORY/Daily/2022-12-10.xlsx
Python/HISTORY/Monthly/2022-11-13-dist.csv
Python/HISTORY/Monthly/2022-11-13.xlsx
Python/HISTORY/Monthly/2022-12-01-dist.csv
Python/HISTORY/Monthly/2022-12-01.xlsx
Python/HISTORY/Monthly/2022-12-06.xlsx
Python/logs/access/2022-11-14.txt
Python/logs/access/2022-11-15.txt
Python/logs/access/2022-11-16.txt
Python/logs/access/2022-11-17.txt
Python/logs/access/2022-11-18.txt
Python/logs/access/2022-11-19.txt
Python/logs/access/2022-11-20.txt
Python/logs/access/2022-11-21.txt
Python/logs/access/2022-11-22.txt
Python/logs/access/2022-11-23.txt
Python/logs/access/2022-11-24.txt
Python/logs/access/2022-11-25.txt
Python/logs/access/2022-11-26.txt
Python/logs/access/2022-11-27.txt
Python/logs/access/2022-11-28.txt
Python/logs/access/2022-11-29.txt
Python/logs/access/2022-11-30.txt
Python/logs/access/2022-12-01.txt
Python/logs/access/2022-12-02.txt
Python/logs/access/2022-12-03.txt
Python/logs/access/2022-12-04.txt
Python/logs/access/2022-12-05.txt
Python/logs/access/2022-12-06.txt
Python/logs/access/general_access/2022-12-06.txt
Python/logs/access/general_access/2022-12-07.txt
Python/logs/access/general_access/2022-12-08.txt
Python/logs/access/general_access/2022-12-09.txt
Python/logs/access/general_access/2022-12-10.txt
Python/logs/access/general_access/2022-12-11.txt
Python/logs/access/general_access/2022-12-12.txt
Python/logs/access/general_access/2022-12-13.txt
Python/logs/access/general_access/2022-12-14.txt
Python/logs/access/general_access/2022-12-15.txt
Python/logs/access/general_access/2022-12-16.txt
Python/logs/access/user_access/2022-12-06.txt
Python/logs/access/user_access/2022-12-07.txt
Python/logs/access/user_access/2022-12-09.txt
Python/logs/access/user_access/2022-12-10.txt
Python/logs/access/user_access/2022-12-12.txt
Python/logs/distro/Daily/2022-12-05/FULL_SET.txt
Python/logs/distro/Daily/2022-12-06/DISTRO.txt
Python/logs/distro/Daily/2022-12-06/FULL_SET.txt
Python/logs/distro/Daily/2022-12-07/FULL_SET.txt
Python/logs/distro/Daily/2022-12-08/FULL_SET.txt
Python/logs/distro/Daily/2022-12-09/FULL_SET.txt
Python/logs/distro/Daily/2022-12-10/FULL_SET.txt
Python/logs/distro/Monthly/2022-12-06/FULL_SET.txt
Python/logs/errors/2022-12-04.txt
Python/logs/errors/2022-12-05.txt
Python/logs/errors/2022-12-10.txt
Python/logs/errors/2022-12-11.txt
Python/logs/errors/2022-12-13.txt
Python/logs/errors/2022-12-26.txt
Python/logs/payment/2022-12-04.txt
Python/logs/test/2022-12-10.txt
Python/logs/test/2022-12-11.txt
Python/logs/test/2022-12-12.txt
Python/nude_test/bot.jpg
Python/nude_test/channels4_profile.jpg
Python/nude_test/download (1).jpg
Python/nude_test/download (2).jpg
Python/nude_test/download (3).jpg
Python/nude_test/images (1).jpg
Python/nude_test/images (2).jpg
Python/nude_test/images (7).jpg
Python/nude_test/images.jpg
Python/Paypal/unused code
Python/Paypal/curl_real/curl_real.py
Python/Paypal/curl_real/location.json
Python/Paypal/curl_real/test.bat
Python/Paypal/curl_real/test2.bat
Python/Paypal/curl_tests/curl_test.py
Python/Paypal/curl_tests/location.json
Python/Paypal/curl_tests/test.bat
Python/Paypal/curl_tests/test2.bat
Python/Stripe/curl.bat
Python/Stripe/payout_curl.bat
Python/Stripe/stripe_add_funds.py
Python/Stripe/stripe_payout.py
Python/Stripe/stripe_test.py
Python/Stripe/Untitled.png
Python/all_dates.csv
Python/current_date.csv
Python/db_connection.py
Python/my_email.py
Python/testing_database.py
Python/token.pickle
Python/__pycache__/__init__.cpython-310.pyc
Python/__pycache__/big_reset_file.cpython-310.pyc
Python/__pycache__/database.cpython-310.pyc
Python/__pycache__/db_connection.cpython-310.pyc
Python/__pycache__/distribution_algorithm.cpython-310.pyc
Python/__pycache__/generating_excel.cpython-310.pyc
Python/__pycache__/helpers.cpython-310.pyc
Python/__pycache__/my_email.cpython-310.pyc
Python/__pycache__/procedures.cpython-310.pyc
python/DB_EMAIL.py
logs/errors/2022-12-26.txt
python/DB_RESET.py
python/dbconnection.py
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-13-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-13.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-14-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-14.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-15.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-16.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-17.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-18.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-19.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-20.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-21.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-22.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-23.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-24-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-24.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-25-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-25.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-26.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-27.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-28-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-28.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-29-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-29.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-30.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-01-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-01.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-02-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-02.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-03-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-03.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-04-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-04.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-05.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-06-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-06.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-07-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-07.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-08-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-08.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-09-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-09.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-10.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-13-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-13.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-21-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-21.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-25-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-25.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-26-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-26.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-28-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-28.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-30-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-30.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-01-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-01.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-03-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-03.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-04-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-04.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-06-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-06.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-09-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-09.xlsx
!OLD_MANSURA/Python/HISTORY/Yearly/2022-11-05.xlsx
!OLD_MANSURA/Python/HISTORY/Yearly/2022-11-06.xlsx
!OLD_MANSURA/Python/HISTORY/Yearly/2022-11-13-dist.csv
!OLD_MANSURA/Python/HISTORY/Yearly/2022-11-13.xlsx
!OLD_MANSURA/Python/HISTORY/Yearly/2022-12-03-dist.csv
!OLD_MANSURA/Python/HISTORY/Yearly/2022-12-03.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-13-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-13.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-14-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-14.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-15.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-16.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-17.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-18.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-19.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-20.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-21.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-22.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-23.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-24-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-24.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-25-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-25.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-26.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-27.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-28-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-28.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-29-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-29.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-11-30.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-01-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-01.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-02-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-02.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-03-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-03.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-04-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-04.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-05.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-06-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-06.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-07-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-07.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-08-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-08.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-09-dist.csv
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-09.xlsx
!OLD_MANSURA/Python/HISTORY/Daily/2022-12-10.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-13-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-13.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-21-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-21.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-25-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-25.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-26-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-26.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-28-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-28.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-30-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-11-30.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-01-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-01.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-03-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-03.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-04-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-04.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-06-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-06.xlsx
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-09-dist.csv
!OLD_MANSURA/Python/HISTORY/Monthly/2022-12-09.xlsx
!OLD_MANSURA/Python/HISTORY/Yearly/2022-11-05.xlsx
!OLD_MANSURA/Python/HISTORY/Yearly/2022-11-06.xlsx
!OLD_MANSURA/Python/HISTORY/Yearly/2022-11-13-dist.csv
!OLD_MANSURA/Python/HISTORY/Yearly/2022-11-13.xlsx
!OLD_MANSURA/Python/HISTORY/Yearly/2022-12-03-dist.csv
!OLD_MANSURA/Python/HISTORY/Yearly/2022-12-03.xlsx
python/__pycache__/helpers.cpython-310.pyc
.gitignore
python/dbconnection.py
logs/errors/2022-12-30.txt
