{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->

{%block main %}
<div class="container">
    <div id="password_recovery_test">
        <h1>Enter email below.</h1> 
        <h1>Check your inbox for further instructions (check junk pls).</h1> 
    </div>
    
    <form action="/password_recovery" name="password_recovery_form" method="POST">
        <label id="email" class="sr-only" ><b>Email</b></label>
        <input name=email type="email"  class="form-control" placeholder="Enter Email" required>
    
        <button class="btn btn-lg btn-primary btn-block"  type="submit" value="submit">Recover</button>
    </form>
</div>




{% endblock main %}
