#footerDiv {
    position: absolute;
    bottom: 0;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

#footer {
  position:relative;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;          /* Footer height */
  margin-top: -10px;
}

@include media-breakpoint-down(xs) {
  .container {
      margin-left: 0;
      margin-right: 0;
  }
}

