#footerDiv {
    position: absolute;
    bottom: 0;
}

/*
#dropdownMenuButton {
    background-color:lightgrey;
    color: black;

}

#dropdownMenuButton2 {
    background-color: lightgrey;
    color: black;
    margin-right: 50px;
}
*/
  
#daily_votes_left{
    color: red;
}
#monthly_votes_left {
    color: red;
}
#yearly_votes_left {
    color: blue;
}

#adjust_nav_bar{
  margin-right: 150px;
  
}
.disabled-link {
  pointer-events: none;
}

#adjust_title{
  color:red
}
#navbarSupportedContent15{
  margin-left:650px;
}