
#uploader_name {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  margin-top: 0px;
  padding-bottom: 0px;
  max-width: fit-content;
  padding-right: 00px;
}
#file_id {
  color: red
}
#buttons_tag {
  color: purple
}
#date_tag {
  font-size: 14px;
  color: black;
  margin-left: 10px;
}
#size_tag {
  color:cyan;
}
#card_id {
  color: cyan;
}

#profile_picture {

}
#post_pic{
  border-radius: 25px;
  border: 2px black;
  padding: 20px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#profile_posts_div{
  margin-top:700px;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}
.dropdown {
  position: relative;
  display: inline-block;
}
