{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->
{%block main %}
<!-- PAYPAL BUY BUTTON-->

<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">SUBSCRIBE</h1>
          <p class="col-md-8 fs-4">Enters you into the pool for posts, votes, searches, and algorithms.</p>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>BALANCE MORE THAN $5</h2>
            <p>Subscribe to Mansura with standing balance.</p>
            <form name="my_form" method="POST">
                <input  class="btn btn-success" type="submit" name="subscribe_button" value="SUBSCRIBE" />
            </form>
          </div>
        </div>


        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>BALANCE LESS THAN $5</h2>
            <p>Add $5 to your account with paypal. left. (if you're good, you'll only ever have to pay once)</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="CW987LAUE9XHN">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>               
          </div>
        </div>
    </div>
 


</div>

<script>
    d_votes_left = '{{ daily_votes_left }}';
    m_votes_left = '{{ monthly_votes_left }}';
    y_votes_left = '{{ yearly_votes_left }}';
    day_vote_list = '{{day_votes}}'
    month_vote_list = '{{month_votes}}'
    year_vote_list = '{{year_votes}}'
    balance = '{{balance}}'
    console.log("getting here", '{{daily_votes_left}}')
    console.log([d_votes_left,m_votes_left,y_votes_left,"\n",day_vote_list,month_vote_list,year_vote_list,"\n",balance ])
    
    document.getElementById("daily_votes_left").innerHTML = `DAILY VOTES: ${d_votes_left}`;
    document.getElementById("monthly_votes_left").innerHTML = `MONTHLY VOTES: ${m_votes_left}`;
    document.getElementById("yearly_votes_left").innerHTML = `YEARLY VOTES: ${y_votes_left}`;
    document.getElementById("user_balance").innerHTML = `BALANCE:${balance}`;
    document.getElementById("daily_votes_left").innerHTML = `DAILY VOTES: ${d_votes_left}`;
    document.getElementById("index_daily").innerHTML = 'DAILY POOL:{{daily_pool}}';
    document.getElementById("index_monthly").innerHTML = 'MONTHLY POOL:{{monthly_pool }}';
    document.getElementById("index_yearly").innerHTML = 'YEARLY POOL:{{yearly_pool }}';  
</script>


{% endblock main %}