{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->
{%block main %}
<div class="container">
    <div class="row">
        <div class="starter-template">
            <h1>CONTACT US</h1>
            <p class="lead">mansuracorp@gmail.com</p>
        </div>
    </div>
</div>


<script>
    d_votes_left = '{{ daily_left }}';
    m_votes_left = '{{ monthly_left }}';
    y_votes_left = '{{ yearly_left }}';
    // console.log(d_votes_left)

    document.getElementById("index_daily").innerHTML = 'DAILY POOL: {{dailypool}}';
    document.getElementById("index_monthly").innerHTML = 'MONTHLY POOL: {{monthlypool }}';
    document.getElementById("index_yearly").innerHTML = 'YEARLY POOL: {{yearlypool }}';



    document.getElementById("daily_votes_left").innerHTML = `DAILY VOTES: ${d_votes_left}`;
    document.getElementById("monthly_votes_left").innerHTML = `MONTHLY VOTES: ${m_votes_left}`;
    document.getElementById("yearly_votes_left").innerHTML = `YEARLY VOTES: ${y_votes_left}`;
    document.getElementById("user_balance").innerHTML = 'BALANCE:{{user_balance}}';
    console.log("TERMS AND CONDITIONS")
</script>
{% endblock main %}
