{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->
{%block main %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            DAILY
            {%for i in range(daily_len)%}
                <div>
                    <a href="/user_download_excel/Daily/{{all_daily[i]}}" target="blank"><button class='btn btn-default'>{{all_daily[i]}}</button></a> 
                </div>
            {%endfor%}
        </div>

        <div class="col-sm">
            MONTHLY
            {%for i in range(monthly_len)%}
            <div>
                <a href="/user_download_excel/Monthly/{{all_monthly[i]}}" target="blank"><button class='btn btn-default'> {{all_monthly[i]}}</button></a> 
            </div>
            {%endfor%}
        </div>
        
        <div class="col-sm">
            YEARLY
            {%for i in range(yearly_len)%}

            <div>
                <a href="/user_download_excel/Yearly/{{all_yearly[i]}}" target="blank"><button class='btn btn-default'>{{all_yearly[i]}}</button></a> 
            </div>
            {%endfor%}
        </div>
    </div>
</div>

<script>
    d_votes_left = '{{ daily_left }}';
    m_votes_left = '{{ monthly_left }}';
    y_votes_left = '{{ yearly_left }}';
    // console.log(d_votes_left)

    document.getElementById("index_daily").innerHTML = 'DAILY POOL: {{daily_pool}}';
    document.getElementById("index_monthly").innerHTML = 'MONTHLY POOL: {{month_lypool }}';
    document.getElementById("index_yearly").innerHTML = 'YEARLY POOL: {{yearly_pool }}';



    document.getElementById("daily_votes_left").innerHTML = `DAILY VOTES: ${d_votes_left}`;
    document.getElementById("monthly_votes_left").innerHTML = `MONTHLY VOTES: ${m_votes_left}`;
    document.getElementById("yearly_votes_left").innerHTML = `YEARLY VOTES: ${y_votes_left}`;
    document.getElementById("user_balance").innerHTML = 'BALANCE:{{user_balance}}';
    console.log("HELLO WORLD")
</script>
{% endblock main %}
