{% extends "structure.html" %}

{% block nav %}

{% if page_no == 1 %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark" id="nav_test">
    <span><a id="navbar_name" class="navbar-brand mx-3" style="color:white;"href="/">Mansura</a></span>
    <span style="font-size:11px;color:white;">open beta v0.1</span>
    <span style=color:#333333>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
    <!--<span><a class="nav-link" id="index_daily" style="color:green;"></a></span>-->
    <span><a class="nav-link" id="index_monthly" style="color:green;"></a></span>
    <!--<span><a class="nav-link" id="index_yearly" style="color:green;"></a></span>-->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent15">
      <ul class="navbar-nav ms-auto" id="ULBUTTONS">
          <li>
              <div>
                  <form action="/">
                      <input class="btn btn-link" type="submit" value="HOME" style="text-decoration: none; color: white; border-right: 1px solid gray">
                  </form>
              </div>
          </li>
          <li>
              <div>
                  <form action="/people/alpha/a">
                      <input class="btn btn-link" type="submit" value="PEOPLE" style="text-decoration: none; color: white; border-right: 1px solid gray">
                  </form>
              </div>
          </li> 
          <li>
              <div>
                  <form action="/subjects/alpha/a">
                      <input class="btn btn-link" type="submit" value="SUBJECTS" style="text-decoration: none; color: white; border-right: 1px solid gray" disabled>
                  </form>
              </div>
          </li>   
          <li>
              <div class="dropdown" id="nav_dropdown">
                  <button class="btn btn-link dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: white; border-right: 1px solid gray">
                      REQUEST
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" max-width: 100%>
                      <a href="/request_form/person" class="nav-link">Person</a>
                      <a href="/request_form/post" class="nav-link">Post</a>
                      <a href="/request_form/subject" class="nav-link">Subject</a>
                  </div>
              </div>
          </li>           
 
           <li>
              <div class="dropdown" id="nav_dropdown">
                  <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: white; border-right: 1px solid gray">TRIBUNAL</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a href="/word_tribunal" class="nav-link">Phrase Tribunal</a>
                      <a href="/account_tribunal" class="nav-link disabled">Account Tribunal</a>
                      <a href="/system_tribunal" class="nav-link disabled">Mansura Tribunal</a>
                  </div>
              </div>
            </li>
 
           <li>
               <div class="dropdown" id="nav_dropdown">
                   <button class="btn btn-link dropdown-toggle" type="button" id="user_name_location" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: white; border-right: 1px solid gray">
                       USER:
                   </button>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" max-width: 100%>
                          <a id="username_location" class="nav-link" href="/user_profile">Profile</a>
                          <a class="nav-link" href="/register">Register</a>
                          <a class="nav-link disabled" href="/messages">Messages</a>
                          <a class="nav-link disabled" href="/notifications">Notifications</a>
                          <a id="username_location" class="nav-link" href="/favourites">Favourites</a>
                          <a class="nav-link" href="/login">Login</a>
                          <a class="nav-link" href="/logout">Logout</a>
                   </div>
               </div>
           </li>
              
           <li>
              <div class="dropdown" id="nav_dropdown">
                  <button class="btn btn-link dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: white; border-right: 1px solid gray">
                      HELP
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" max-width: 100%>
                      <a href="/settings" class="nav-link disabled" >Settings</a>
                      <a href="/contact" class="nav-link">Contact</a>
                      <a href="/instructions" class="nav-link">Intstructions</a>
                      <a href="/FAQ" class="nav-link disabled">FAQ</a>
                      <a href="/terms_and_conditions" class="nav-link">Terms and Conditions</a>
                      <a href="/patch_notes" class="nav-link disabled">Patch Notes</a>
                      <a href="/newsletter" class="nav-link disabled">Newsletter</a>
                      <a href="/cover_page" class="nav-link">Mission</a>
                      <a href="/careers" class="nav-link disabled">Careers</a>
                  </div>
              </div>
          </li>   


       </ul>
    </div>
    
</nav>
{% else %}
{% endif %}
{% endblock nav %}






{%block main %}
<div class="row" style="margin: auto" hx-post="/0/{{page_no}}" hx-trigger="revealed" hx-swap="afterend">
    {% for i in range(0, num_posts) %}
    {% if posts[i][0] |length  == 0%} <!--DON'T print the empties-->
    {% else %}
    <div class="col">
        <div class="card" id="videos">
            <div class="card-header">
                <h1>{{posts[i][0]}}</h1>
                <h1>{{[i]}}</h1>
            </div>

            <div>
                <a href="/person/{{posts[i][5]}}"><h3>{{posts[i][4]}}</h3></a>
                <h5>{{posts[i][1]}}</h5>
            </div>
            
            <div>
                {{posts[i][2] | safe}}
            </div>
            
            <div class=" card-footer d-flex justify-content-between align-items-center">
                <small class="text-muted">
                    <!--LIKES-->
                    <span>
                        {% if posts[i][10] == 0%}
                        <button class="btn btn-outline-dark" hx-post="/update_like/{{posts[i][11]}}" hx-trigger="click" hx-target="#like_location{{i}}" hx-swap="innerHTML" onclick="like_logic(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                              </svg>
                              <div id="like_location{{i}}">
                                {{posts[i][6]}}
                                {{likes}}
                              </div>
                        </button>

                        {% else %}

                        <button class="btn btn-danger" hx-post="/update_like/{{posts[i][11]}}" hx-trigger="click" hx-target="#like_location{{i}}" hx-swap="innerHTML" id="liked" onclick="like_logic(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                              </svg>
                              <div id="like_location{{i}}">
                                {{posts[i][6]}}
                                {{likes}}
                              </div>
                        </button>
                        {% endif %}
                    </span>

                    <!-- IF COMMENTS-->
                    <span>
                        <button class="btn btn-outline-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                                <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                            {{posts[i][7]}}
                        </button>
                    </span>

                    <span>
                        <button class="btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-plus" viewBox="0 0 16 16">
                                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"/>
                                <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"/>
                              </svg>
                        </button>
                    </span>

                    <span>{{posts[i][3]}}</span>
                </small>
            </div>
        </div>   
    </div>
    {% endif %}
    {% endfor %}


</div>

<script>


function like_logic(value){
    console.log(value)
    if ( $(value).hasClass("btn btn-danger")){
        $(value).removeClass("btn btn-danger");
        $(value).addClass("btn btn-outline-dark");  
    }
    else{
        $(value).removeClass("btn btn-outline-dark");
        $(value).addClass("btn btn-danger");  
    }
}

//nav_function()

function nav_function(){

    page_no = '{{page_no}}'
    if (page_no != "0" && page_no != "1"){
        const element = document.getElementById("nav_test");
        element.remove();
    }
}

</script>
{% endblock main %}
