{% extends "structure.html" %}

{% block nav %}
{% if page_no == 1 %}
{% block nav_location %}
{{super()}}
{% endblock nav_location %}
{% else %}
{% endif %}
{% endblock nav %}

{%block main %}

{% if posts | length == 0 %}
    <div class="container">
        <div class="jumbotron" style="padding-top: 10px !important;padding-bottom: 10px !important;">
            <h1><ul>BAD QUERY!</ul></h1>
            <p class="lead" >NO POSTS MEET THIS QUERY CRITERIA.</p>
        </div>
        <small>
            {{query}}
        </small>
    </div>
{% endif %}

{% if coming_from_tribunal == "true" %}
        {% if page_no == 1 %}
            <div class="jumbotron" style="padding-top: 10px !important;padding-bottom: 10px !important;">
                <div style="margin: auto; width: 50%; padding: 10px;">
                    <h1><u>ONLY ADMINS WILL SEE CONTENT HERE!</u></h1>
                </div>
                
                <div style="margin: auto;
                width: 50%;
                padding: 10px;">
                    <a href="/apply_for_admin/{{user_profile_id}}"><h1>WANT TO BE AN ADMIN? APPLY HERE!</h1></a>
                </div>
            </div>
        {% endif %}
{% elif coming_from_favourites == "true" %}
            {% if can_scroll == true %}
            <div class="row gy-5" style="margin: auto" hx-post="/favourites/{{page_no}}" hx-trigger="revealed" hx-swap="afterend">
            {% else %}
            <div class="row gy-5" style="margin: auto">
        {% endif %}

{% elif coming_from_search == "true" %}
        {% if can_scroll == true %}
        <div class="row gy-5" style="margin: auto" hx-post="/structure_search_by_phrase/{{page_no}}/{{search_phrase}}" hx-trigger="revealed" hx-swap="afterend">
        {% else %}
        <div class="row gy-5" style="margin: auto">
        {% endif %}

{% elif coming_from_tribunal == "true" %}
            {% if can_scroll == true %}
                {% if can_vote == "true"%}
                <div class="row gy-5" style="margin: auto" hx-post="/post_tribunal/{{page_no}}" hx-trigger="revealed" hx-swap="afterend">
                {% else %}
                <div class="row gy-5" style="margin: auto" hx-post="/post_tribunal/{{page_no}}" hx-trigger="revealed" hx-swap="afterend" hidden>
                {% endif %}
            {% else %}
            <div class="row gy-5" style="margin: auto">
            {% endif %}

{% elif coming_from_profile == "True" %}
    {% if page_no == 1 %}
    <div class="container">
        <div class="jumbotron" style="  padding-top: 10px !important;padding-bottom: 10px !important;">

            <h1><u>{{username}}</u>                
                <button class="btn btn-lg btn-dark" type="button" hx-post="/update_follow/{{user_profile_id}}" hx-trigger="click" hx-target="#follow_location" hx-swap="innerHTML" onclick="like_logic(this)" style="position:relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                        <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                    </svg>  
                </button>
            </h1>

            <p>
                FOLLOWERS:
                <span id="follow_location">
                    {{following |length}}
                    {{new_following_count}}
                </span>
            </p>
            <p>FOLLOWING: {{followers |length}}</p>
            
        </div> 
    </div>
    {% endif %}

    {% if can_scroll == true %}
        <div class="row gy-5" style="margin: auto" hx-post="/user_profile/{{user_profile_name}}/{{page_no}}" hx-trigger="revealed" hx-swap="afterend">
    {% else %}
        <div class="row gy-5" style="margin: auto">
    {% endif %}

                    
{% else %}
            {% if can_scroll == true %}
            <div class="row gy-5" style="margin: auto" hx-post="/{{person_id}}/{{page_no}}" hx-trigger="revealed" hx-swap="afterend">
            {% else %}
            <div class="row gy-5" style="margin: auto">
            {% endif %}
{% endif %}


    {% for i in range(0, num_posts) %}
                <!--HOW MANY PER ROW-->
                {% if i % 1  == 0 %}
                    <div class="w-100"></div>
                {% endif %}
                
                {% if posts[i][0] |length  == 0%} <!--DON'T print the empties-->
                {% else %}


                <div class="col" hx-post="/update_view/{{posts[i][6]}}" hx-trigger="click" hx-target="#view_location{{i}}" hx-swap="innerHTML" style="overflow:scroll">
                    <div class="card" id="videos">
                        <div class="card-header">
                            <h1>{{posts[i][0]}}</h1>
                            <!--<h1>{{[i]}}</h1>-->
                        </div>

                        <div>
                            <a href="/{{posts[i][5]}}/0">
                                <h3 class="text-center">
                                {{posts[i][4]}}
                                </h3>
                            </a> 
                        </div>
                        
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>{{posts[i][1]}}</h5>
                                </div>
                                <div class="col-md-4 d-flex justify-content-center" id="post_location{{i}}">
                                    {{posts[i][2] | safe}}
                                    {{updated_html | safe}}
                                </div>
                                <div class="col-md-4">
                                    ads
                                </div>
                            </div>
                        </div>
                        {% if coming_from_tribunal != "true"%}                                
                        {% else %}
                        {% endif %}

                        <div class="card-footer">
                            <small class="text-muted">
                                <!--UPLOAD DATE-->
                                
                                <span class="float-right">{{posts[i][3]}}</span>
                                <span class="float-right"><a href="/user_profile/{{posts[i][14]}}/0">{{posts[i][14]}}&nbsp;&nbsp;</a></span>

                                <span class="col d-flex justify-content-center"> 
                                    <!--VIEWS-->
                                    <span>
                                        <button class="btn btn-lg no-click" style="pointer-events: none">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                            </svg>
                                            <span id="view_location{{i}}">
                                                {{posts[i][10]}}
                                                {{views}}
                                            </span>
                                        </button>
                                    </span>
                                    <!--LIKES-->
                                    <span>
                                        {% if posts[i][11] == 0%}
                                        <button class="btn btn-outline-dark btn-lg" hx-post="/update_like/{{posts[i][6]}}" hx-trigger="click" hx-target="#like_location{{i}}" hx-swap="innerHTML" onclick="like_logic(this)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                            </svg>
                                            <span id="like_location{{i}}">
                                                {{posts[i][7]}}
                                                {{likes}}
                                            </span>
                                        </button>
                                        {% else %}
                                        <button class="btn btn-outline-danger btn-lg" hx-post="/update_like/{{posts[i][6]}}" hx-trigger="click" hx-target="#like_location{{i}}" hx-swap="innerHTML" onclick="like_logic(this)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                            </svg>
                                            <span id="like_location{{i}}">
                                                {{posts[i][7]}}
                                                {{likes}}
                                            </span>
                                        </button>
                                        {% endif %}
                                    </span>
                                    <!--COMMENTS-->
                                    <span>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-dark btn-lg" data-toggle="modal" data-target="#exampleModalLong{{posts[i][6]}}" hx-post="/comment_section/{{posts[i][6]}}/10/likes" hx-trigger="click" hx-target="#comment_section{{posts[i][6]}}" hx-swap="innerHTML">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                                                <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                            </svg>
                                            {{posts[i][8]}}
                                        </button>
                                        
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalLong{{posts[i][6]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Comment Section</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <!--ENTER INTO A COMMENT -->
                                                <form action="update_comment/{{posts[i][6]}}" method="POST" enctype="multipart/form-data">
                                                    <span class="input-group-prepend">
                                                        <button class="btn btn-outline-secondary" hx-post="/update_comment/{{posts[i][6]}}" type="button" hx-trigger="click" hx-swap="innerHTML" hx-target="#comment_section{{posts[i][6]}}">
                                                                Leave a comment?
                                                        </button>
                                                    </span>
                                                    <input type="text" name="input_field" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">    
                                                </form>

                                                <!-- SHOW HOW MANY COMMENTS -->
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        HOW MANY? 
                                                    </button>
                                                    <p>
                                                        (comment likes only show on refresh, sorry)
                                                    </p>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item" hx-trigger="click" hx-post="/comment_section/{{posts[i][6]}}/10/likes"    hx-target="#comment_section{{posts[i][6]}}" hx-swap="innerHTML">10</a>
                                                        <a class="dropdown-item" hx-trigger="click" hx-post="/comment_section/{{posts[i][6]}}/100/likes"   hx-target="#comment_section{{posts[i][6]}}" hx-swap="innerHTML">100</a>
                                                        <a class="dropdown-item" hx-trigger="click" hx-post="/comment_section/{{posts[i][6]}}/1000/likes"  hx-target="#comment_section{{posts[i][6]}}" hx-swap="innerHTML">1000</a>
                                                        <a class="dropdown-item" hx-trigger="click" hx-post="/comment_section/{{posts[i][6]}}/10000/likes" hx-target="#comment_section{{posts[i][6]}}" hx-swap="innerHTML">10000</a>  
                                                    </div>
                                                </div>
                                                <!-- COMMENT SECTION LOCATION -->
                                                <div class="modal-body" id="comment_section{{posts[i][6]}}">
                                        
                                                </div>

                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </span>

                                    <!--FAVES-->
                                    <span>
                                        {% if posts[i][12] == 0%}
                                        <button class="btn btn-outline-dark btn-lg" hx-post="/update_fave/{{posts[i][6]}}" hx-trigger="click" hx-target="#fave_location{{i}}" hx-swap="innerHTML" onclick="fave_logic(this)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                            </svg>
                                            
                                            <span id="fave_location{{i}}">
                                                {{posts[i][9]}}
                                                {{faves}}
                                            </span>
                                        </button>
                                        {% else %}

                                        <button class="btn btn-outline-danger btn-lg" hx-post="/update_fave/{{posts[i][6]}}" hx-trigger="click" hx-target="#fave_location{{i}}" hx-swap="innerHTML"  onclick="fave_logic(this)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                                <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                            </svg>
                                            <span id="fave_location{{i}}">
                                                {{posts[i][9]}}
                                                {{faves}}
                                            </span>
                                        </button>
                                        {% endif %}
                                    </span>
                                    <!-- SEND-->
                                    <span>
                                        <button class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#send_modal_{{posts[i][6]}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-plus" viewBox="0 0 16 16">
                                                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"/>
                                                <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"/>
                                            </svg>
                                        </button>
                                        <div class="modal fade" id="send_modal_{{posts[i][6]}}" tabindex="-1" role="dialog" aria-labelledby="send_modal_{{posts[i][6]}}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">SEND MESSAGE</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                
                                                <div>
                                                    <form>
                                                        <div>
                                                            <input class="form-control" id="chat_room_name" name="chat_room_name" type="text" readonly>
                                                        </div>
                                                        <div>
                                                            <input class="form-control" id="link" type="text" hx-get="/search_text_by_category/chat_room_name" name="algo_name" hx-trigger="keyup changed delay:500ms" hx-target="#search-results{{posts[i][6]}}" placeholder="Chat Room Name" required>
                                                        </div>
    
                                                        <div id="search-results{{posts[i][6]}}"></div>
                                                        <button type="button" class="btn btn-primary btn-lg btn-block" id="search_algo_button" hx-post="/send_file_message/{{posts[i][6]}}" hx-trigger="click" hx-target="#success_or_failure{{posts[i][6]}}" hx-swap="innerHTML">Send</button>   
    
                                                    </form>
                                                </div>

                                                <div id="success_or_failure{{posts[i][6]}}">
                                                    {{success_or_failure}}
                                                </div>

                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
     
                                    </span>
                                    <!--TAGGING
                                    <span>
                                        <button class="btn btn-lg" type="button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                            </svg>
                                        </button>
                                        TAG PERSON
                                    </span>

                                    <span>
                                        <button class="btn btn-lg" type="button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-intersect" viewBox="0 0 16 16">
                                                <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm5 10v2a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1h-2v5a2 2 0 0 1-2 2H5zm6-8V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2V6a2 2 0 0 1 2-2h5z"/>
                                            </svg>
                                        </button>
                                        TAG POST
                                    </span>
                                    -->

                                    <span>
                                        <button class="btn btn-lg" type="button" onclick="show_link({{i}})">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                                                <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                                                <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                                            </svg>
                                        </button>
                                        <span id="link_location{{i}}" hidden>
                                            <a href="{{posts[i][13]}}">{{posts[i][13]}}<h6></h6></a>
                                        </span>
                                    </span>

                                </span>

                                <span style="text-align: center;">
                                    {% if coming_from_tribunal == "true" %}
                                        {% if can_vote == "true" %}
                                        <button class="btn btn-sm" hx-post="/update_post_tribunal/{{posts[i][6]}}/approve" hx-trigger="click">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                            </svg>
                                            APPROVE POST
                                        </button>
                
                                        <button class="btn btn-sm" hx-post="/update_post_tribunal/{{posts[i][6]}}/deny" hx-trigger="click">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                            </svg>
                                            DELETE POST
                                        </button>
                                        <button class="btn btn-sm" hx-post="/update_post_tribunal/{{posts[i][6]}}/report_uploader" hx-trigger="click">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                                                <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                            </svg>
                                            REPORT 
                                        </button>

                                        {% if ADMINISTRATOR == "True" and posts[i][16] == "False" %}
                                        <button class="btn btn-sm" hx-post="/update_post_tribunal/{{posts[i][6]}}/delete_person" hx-trigger="click">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                                                <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                            </svg>
                                            DELETE PERSON
                                        </button>
                                        {% endif %}

                                        
                                        <!--GET REAL LINK-->
                                        <div>
                                            <form method="POST" >
                                                <input class="form-control" name="post_link_embed" type="text" placeholder="">
                                                <button class="btn btn-primary btn-block" type="submit" hx-post="/update_post_html/{{posts[i][6]}}" hx-trigger="click" hx-target="#post_location{{i}}" hx-swap="innerHTML">Direct Embed Link (go to to the literally link and grab the mbedding)</button>
                                            </form>
                                        </div>

                                        
                                        {% else %}

                                        
                                        {% endif %}

                                    {% endif %}
                                </span>
                            </small>
                        </div>
                    </div>   
                </div>
                {% endif %}

    {% endfor %}
</div>




<script>
    
    function show_link(iteraton){
        // console.log("hello world", iteraton)
        item =  document.getElementById("link_location" + iteraton)
        if (item.hidden == true){
            item.removeAttribute("hidden")
        }
        else{
            item.setAttribute("hidden", "enabled")
        }
       
    }
    function isScrolledIntoView(el) {
        console.log(el)
        var rect = el.getBoundingClientRect();
        var elemTop = rect.top;
        var elemBottom = rect.bottom;
    
        // Only completely visible elements return true:
        var isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
        // Partially visible elements return true:
        //isVisible = elemTop < window.innerHeight && elemBottom >= 0;
        return isVisible;
    }

    function like_logic(value){
        console.log(value)
        if ( $(value).hasClass("btn btn-outline-danger")){
            $(value).removeClass("btn btn-outline-danger");
            $(value).addClass("btn btn-outline-dark");  
        }
        else{
            $(value).removeClass("btn btn-outline-dark");
            $(value).addClass("btn btn-outline-danger");  
        }
    }

    function fave_logic(value){
        console.log(value)
        if ( $(value).hasClass("btn btn-outline-danger")){
            $(value).removeClass("btn btn-outline-danger");
            $(value).addClass("btn btn-outline-dark");  
        }
        else{
            $(value).removeClass("btn btn-outline-dark");
            $(value).addClass("btn btn-outline-danger");  
        }
    }

    function modal_toggle(post_id){
        //console.log('hello')
        //console.log('post id', post_id)
        document.getElementById("comment_modal").style.display = "block"
    }

    window.onclick = function (event) {
        var modal = document.getElementById("comment_modal");
        if (event.target == modal){
            if (modal != null){
                modal.style.display = "none";
            }
        }
    }

</script>
{% endblock main %}
