{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->
{%block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<!--POSTING SOMETHING-->
<div class="row">
        <button class="btn btn-secondary" type="button" onclick="post_modal_toggle()" aria-expanded="false">
            POST
        </button>
</div>

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-2">
          <div>
            THIS IS WHERE PEOPLE WILL BUY ADS
          </div>
          <div>
            askljhfalkjsddsafasdafds
          </div>
        </div>
        <div class="col-7">
            {%for i in range(0, username_len )%}
            <div class="col">
            <div class="card mb-4 shadow-sm border-dark mb-3">
                <div class="card-body">
                    <!-- TODO: CHANGE TO AN HREF TO GO TO THEIR PROFILE -->
                    <div > <!--CARD TITLE-->                  
                        <a href="/{{usernames_list[i]}}">{{usernames_list[i]}}</a>
                                                
                        <!--DAILY -->
                        {% if daily_left == 0 %}
                        <span id="daily_vote  "><button class="btn btn-outline-secondary disabled"><a href="/vote/{{file_ids_list[i]}}/Daily">D: {{day_votes[i]}}</a></button></span>
                        {% else %}
                        <span id="daily_vote  "><button class="btn btn-outline-success"><a href="/vote/{{file_ids_list[i]}}/Daily">D: {{day_votes[i]}}</a></button></span>
                        {% endif %}

                        <!--MONTHLY -->
                        {% if monthly_left == 0 %}
                        <span id="monthly_vote  "><button class="btn btn-outline-secondary disabled"><a href="/vote/{{file_ids_list[i]}}/Monthly">M: {{month_votes[i]}}</a></button></span>
                        {% else %}
                        <span id="monthly_vote  "><button class="btn btn-outline-success"><a href="/vote/{{file_ids_list[i]}}/Monthly">M: {{month_votes[i]}}</a></button></span>
                        {% endif %}

                        <!--YEARLY -->
                        {% if yearly_left == 0 %}
                        <span id="yearly_vote  "><button class="btn btn-outline-secondary disabled"><a href="/vote/{{file_ids_list[i]}}/Yearly">Y: {{year_votes[i]}}</a></button></span>
                        {% else %}
                        <span id="yearly_vote  "><button class="btn btn-outline-success"><a href="/vote/{{file_ids_list[i]}}/Yearly">Y: {{year_votes[i]}}</a></button></span>
                        {% endif %}

                        <span id="like"><button class="btn btn-outline-success"><a href="/vote/{{file_ids_list[i]}}/like">LIKES: {{likes[i]}}</a></button></span>

                    </div>

                    
                    <!-- POST TEXT -->
                    <div id="text_span">
                        {% if lengths_of_text_files[i] > 300 %}
                            {{text_list[i][:300]}}...
                            <div>
                                <a href="/{{usernames_list[i]}}_{{paths_list[i]}}-post_page">see more...</a>
                            </div>
                        {% else %}
                            {{text_list[i]}}
                            <div>
                                <a href="/{{usernames_list[i]}}_{{paths_list[i]}}-post_page">see more...</a>
                            </div>
                        {% endif %}            
                    </div>
                    
                    <!-- POST IMAGE -->
                    {% if image_path_list[i] != "" %}
                    <img onclick="enlargeImg()" id="post_pic" src="{{url_for('static', filename=image_path_list[i])}} " width='400' height='200' />
                    {% endif %}
                    <!--PROFILE PICTURE-->
                    <img class="text-right position-absolute top-0 end-0" id="profile_picture" src="{{url_for('static', filename='#UserData/' + usernames_list[i] + '/profile/profile_pic.jpg')}} " width='30' height='30' />


                    <!-- PUTTING SHIT AT THE BOTTOM -->
                    <div><br /></div>
                    <div class=" card-footer d-flex justify-content-between align-items-center">
                        <small class="text-muted">
                            <button class="btn btn-secondary" type="button" onclick="reply_modal_toggle({{file_ids_list[i]}})" aria-expanded="false">
                                REPLY
                            </button>
                            <button class="btn btn-secondary" type="button" aria-expanded="false">
                                REPOST
                            </button>
                        </small>
                        <small class="text-muted" id="post_details">
                            <a href="{{usernames_list[i]}}_{{paths_list[i]}}-post_page">ID:{{file_ids_list[i]}} </a>

                            {% if age_18_list[i] == "older_18" %}
                            <u>18+</u>
                            {% endif %}
                            Source:<a href='{{source_list[i]}}'>{{source_list[i]}}</a>
                            {% if post_sources_list[i] != "" %}
                            Referencing:<a href="{{usernames_list[i]}}_{{paths_list[i]}}-post_page">{{post_sources_list[i]}} </a>
                            {% endif %}
                            {{dates_list[i]}}

                        </small>
                    </div>
                </div>
            </div>
            </div>
            {%endfor%}
        </div>

        <!--DOING THE SEARCH-->
        <div class="col-3">
            
            <form action="https://google.com">
                <input class="inline btn btn-primary" type="submit" value="Save Current Algorithm" />
            </form>
          
            <form action="/" class="form-inline my-2 my-lg-0"  method="POST" id="search_form">
                <input class="d-inline form-control mr-sm-2" id="search" name="search" type="search" placeholder="(can be empty)" aria-label="search">
                    <button class="btn btn-primary">Search</button>
                </input>

               
                <!-- DATE SECTION -->
                <div>
                    <div>
                    </br>
                        UPLOAD DATE:
                    </div>
                    <div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="date_check" value="ALL" id="ALL" checked>
                            <label for="ALL" unselectable>ALL</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="date_check" value="YEAR" id="YEAR">
                            <label for="YEAR" unselectable>YEAR</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="date_check" value="MONTH" id="MONTH">
                            <label for="MONTH" unselectable>MONTH</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="date_check" value="DAY" id="DAY">
                            <label for="DAY" unselectable>DAY</label>
                        </div>                       
                    </div>
                </div>

                
                <!-- ORDER BBY SECTION-->
                <div>
                    <div>
                    </br>
                        ALGORITHM DEFAULT
                    </div>
                    <div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" value="TOP" id="TOP" checked>
                            <label for="TOP" unselectable>TOP</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" id="HOT" disabled>
                            <label for="HOT" unselectable >HOT</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" id="NEW" disabled>
                            <label for="NEW" unselectable>NEW</label>
                        </div>
                        <div>
                        </br>
                            ALGORITHM MANSURA CUSTOM / AI
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" value="EIGENVECTOR CENTRALITY" id="EIGENVECTOR CENTRALITY" disabled>
                            <label for="EIGENVECTOR CENTRALITY" unselectable>EIGENVECTOR CENTRALITY</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" value="BASIC NEURAL NET" id="BASIC NEURAL NET" disabled>
                            <label for="BASIC NEURAL NET" unselectable>BASIC NEURAL NET</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" value="NOOB PAGERANK" id="NOOB PAGERANK" disabled>
                            <label for="NOOB PAGERANK" unselectable>NOOB PAGERANK</label>
                        </div>
                        <div> 
                            </br>
                            <div>
                                ALGORITHM FAVOURITES (5 Max)
                            </div>
                            <div class="btn btn-outline-success">
                                <input type="radio" name="order_check" value="a-demo" id="a-demo">
                                <label for="a-demo" unselectable>a-demo</label>
                            </div>
                        </div>
                    </div>
                </div>
                
                </br>
                </br>
                </br>
                </br>
                
                <!-- WHERE CLAUSES BY SECTION-->
                <div>
                    <div>
                        WHERE CLAUSES 
                        <button class="btn btn-outline-success" type="button" onclick="add_another_where_clause()">+</button>
                        <button class="btn btn-outline-danger"  type="button" onclick="remove_another_where_clause()">-</button>
                        (max 10 for now)
                    </div>
                </div>
                <div id="where_clause_additions">
                    <div>
                        <select name="and_or_clause" id="and_or_clause" class="dropdown-content">
                            <option id="AND">AND</option>           
                            <option id="OR">OR</option>
                        </select> 
                        <select name="where_clauses" id="where_clauses" class="dropdown-content">
                            <option id="DAY VOTES">POST DAY VOTES</option>
                            <option id="MONTH VOTES">POST MONTH VOTES</option>
                            <option id="YEAR VOTES">POST YEAR VOTES</option>            
                            <option id="LIKES"disabled>POST LIKES</option>           
                            <option id="REPLIES"disabled>POST REPLIES</option>
                            <option id="POST SENTIMENT ANALYSIS"disabled>POST SENTIMENT</option>
                            <option id="POST HAS IMAGE" disabled>POST HAS IMAGE T/F</option>
                            <option id="HAS SOURCE"disabled>HAS SOURCE</option>
                            <option id="USER FOLLOWING"disabled>USER FOLLOWING</option>
                            <option id="USER FOLLOWERS"disabled>USER FOLLOWERS</option>
                            <option id="USER USER BLOCKED THEM" disabled>USER NUM BLOCKED</option>
                            <option id="FRIENDS WITH" disabled>USER FRIENDS WITH</option>
                            <option id="Post/Like Ratio" disabled>USER POST/LIKE RATIO</option>
                            <option id="USER POLARIZATION" disabled>USER POLARIZATION</option>
                            <option id="USER FOLLOWING (x)" disabled>USER FOLLOWING (x)</option>
                            <option id="USER FOLLOWED BY (x)" disabled>USER FOLLOWED BY (x)</option>
                            <option id="USER 18+" disabled>USER 18+</option>
                            <option id="USER FROM COUNTRY (x)" disabled>USER FROM COUNTRY (x)</option>    
                        </select> 
                        <select name="higher_equal_lower" id="higher_equal_lower" class="dropdown-content">
                            <option id="greater_equal">>=</option>           
                            <option id="equal_equal">==</option>
                            <option id="less_equal"><=</option>
                        </select> 
                        <input name="num_search_text" id="num_search_text" type="text"maxlength="4" size="4" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ><br><br>
                    </div>
                </div>
            
                <div>
                    <input type="hidden" id="search_arguments" name="search_arguments" value="{{search_arguments}}" />search_arguments:{{search_arguments}}
                </div>
                <div>
                    <input type="hidden" id="page_number" name="page_number" value={{page_no}} /> Page Test:{{page_no}}
                </div>
            </form>

        </div>

    </div>
</div>


<!-- reply_modal  -->
<div id="reply_modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <form action="upload" method="POST" enctype="multipart/form-data">
            <div>
                <label for="textbox">Whats on your mind? (10000 chars) [NO EMOJIS FOR NOW SORRY LOL]</label>
                <br>
                <textarea id="textbox" name="textbox" rows="7" cols="50" maxlength="10000"></textarea>

            </div>

            <div class="custom-file">
                <!-- .mp4,.csv, .onnx,-->
                <input type="file" class="custom-file-input" name="file" accept=".png, .jpeg, .jpg, .pdf" id="dataset_file">
                <input type="text" id="hidden_file_size" name="hidden_file_size" placeholder="auto" size="1" value="">
                <label class="custom-file-label" for="file">PNG/JPG/PDF</label>

                <div id="dataset_return_message">

                </div>
            </div>

            <div>                
                <label class="custom-file-label" for="file">Replying to File Id</label>
                <input type="number" id="reply_external_source" name="external_source" value="" >(this person will get 5% of what your winnings)              
            </div>
            
            <!-- EXTERNAL LINK -->
            <div>
                <input type="checkbox" name="button_reply_external_source_link" value="button_reply_external_source_link" onchange="reply_enable_external_link()">
                <label><b>Source:</b></label>
                <input id="reply_external_source_link" name="external_source_link" type="url" placeholder="Enter Source LINK" disabled>
            </div>
            
            <div class="dropdown" name="distro_algo">
                <select id="distro_algo" class="dropdown-content" name="distro_algo" onchange="howmanysectionsfunc()">
                    <option id="equal">EQUAL DISTRIBUTION</option>           
                    <option id="log">LOG DISTRIBUTION</option>
                    <option id="log_equal">LOG EQUAL DISTRIBUTION</option>
                </select>
                more coming soon...
            </div>

            <div id="how_many_sections" name="">
                
            </div>

            <div>    <!-- IMAGES -->
                <img id="equal_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/equal_distribution.png')}}" width='400' height='200' />
                <img id="log_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/log_distribution.png')}}" width='400' height='200' />
                <img id="equa_log_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/log_equal_distribution.png')}}" width='400' height='200' />
            </div>


            <br>

            <button class="btn btn-primary" name="upload" value="upload">UPLOAD</button>

        </form>
    </div>
</div>
<!-- reply Modal -->

<!-- post_modal  -->
<div id="post_modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <form action="upload" method="POST" enctype="multipart/form-data">
            <div>
                <label for="textbox">Whats on your mind? (10000 max chars)</label>
                <br>
                <textarea id="textbox" name="textbox" rows="7" cols="50" maxlength="10000"></textarea>

            </div>

            <div class="custom-file">
                <!-- .mp4,.csv, .onnx,-->
                <input type="file" class="custom-file-input" name="file" accept=".png, .jpeg, .jpg, .pdf" id="dataset_file">

                <div id="dataset_return_message">

                </div>
            </div>

            <div>
                <input type="checkbox" id="built_from_other_file" name="built_from_other_file" value="built_from_other_file" onchange="enable_built_from_other()">
                <label class="custom-file-label" for="file">Replying to File Id</label>
                <input type="number" id="external_source" name="external_source" value="" disabled>(this person will get 5% of what your winnings)
                
            </div>

            <div>
                <input type="checkbox" name="button_external_source_link" value="button_external_source_link" onchange="enable_exteral_link()">
                <label><b>Source:</b></label>
                <input id="external_source_link" name="external_source_link" type="url" placeholder="Enter Source LINK" disabled>
            </div>


            <div class="dropdown" name="distro_algo">
                <select id="distro_algo" class="dropdown-content" name="distro_algo" onchange="howmanysectionsfunc()">
                    <option id="equal">EQUAL DISTRIBUTION</option>           
                    <option id="log">LOG DISTRIBUTION</option>
                    <option id="log_equal">LOG EQUAL DISTRIBUTION</option>
                </select>
                more coming soon...
            </div>

            <div id="how_many_sections" name="">
                
            </div>

            <div>    <!-- IMAGES -->
                <img id="equal_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/equal_distribution.png')}}" width='400' height='200' />
                <img id="log_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/log_distribution.png')}}" width='400' height='200' />
                <img id="equa_log_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/log_equal_distribution.png')}}" width='400' height='200' />
            </div>

            <br>

            <button class="btn btn-primary" name="upload" value="upload">UPLOAD</button>
        </form>

    </div>
</div>
<!-- post_modal  -->
<script>



    // console.log(document.getElementById("search_arguments").value)
    var slider = `Sections: 1-10
        <div class="slidecontainer" >
            <input type="range" min="1" max="10" value="5" class="slider" id="myRange" name="how_many_sections_">
        </div>
        `
    var where_counter = 1
    var where_clause_string = `
    <div>
        <div> 
            <select name="and_or_clause${where_counter}" id="and_or_clause${where_counter}" class="dropdown-content">
                            <option id="AND">AND</option>           
                            <option id="OR">OR</option>
            </select>  
            <select name="where_clauses${where_counter}" id="where_clauses${where_counter}" class="dropdown-content">
                <option id="DAY VOTES">POST DAY VOTES</option>
                <option id="DAY VOTES">POST DAY VOTES</option>
                            <option id="MONTH VOTES">POST MONTH VOTES</option>
                            <option id="YEAR VOTES">POST YEAR VOTES</option>            
                            <option id="LIKES"disabled>POST LIKES</option>           
                            <option id="REPLIES"disabled>POST REPLIES</option>
                            <option id="POST SENTIMENT ANALYSIS"disabled>POST SENTIMENT</option>
                            <option id="POST HAS IMAGE" disabled>POST HAS IMAGE T/F</option>
                            <option id="HAS SOURCE"disabled>HAS SOURCE</option>
                            <option id="USER FOLLOWING"disabled>USER FOLLOWING</option>
                            <option id="USER FOLLOWERS"disabled>USER FOLLOWERS</option>
                            <option id="USER USER BLOCKED THEM" disabled>USER NUM BLOCKED</option>
                            <option id="FRIENDS WITH" disabled>USER FRIENDS WITH</option>
                            <option id="Post/Like Ratio" disabled>USER POST/LIKE RATIO</option>
                            <option id="USER POLARIZATION" disabled>USER POLARIZATION</option>
                            <option id="USER FOLLOWING (x)" disabled>USER FOLLOWING (x)</option>
                            <option id="USER FOLLOWED BY (x)" disabled>USER FOLLOWED BY (x)</option>
                            <option id="USER 18+" disabled>USER 18+</option>
                            <option id="USER FROM COUNTRY (x)" disabled>USER FROM COUNTRY (x)</option> 
            </select> 
            <select name="higher_equal_lower${where_counter}" id="higher_equal_lower" class="dropdown-content">
                <option id="equal">>=</option>           
                <option id="log">==</option>
                <option id="log_equal"><=</option>
            </select> 
            <input name="num_search_text${where_counter}" id="num_search_text${where_counter}" size="4" type="text"maxlength="4" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ><br><br>
        </div>
    </div>
    `
    
    function howmanysectionsfunc(){

        dist_chosen = document.getElementById("distro_algo").value 

        if (dist_chosen == "LOG EQUAL DISTRIBUTION"){
            document.getElementById("how_many_sections").innerHTML = slider
        }
        else{
            document.getElementById("how_many_sections").innerHTML= ""
        }
    }

    function add_another_where_clause(){
        var where_clause_string = `
        <div>
            <div>
                <select name="and_or_clause${where_counter}" id="and_or_clause${where_counter}" class="dropdown-content">
                            <option id="AND">AND</option>           
                            <option id="OR">OR</option>
                </select>  
                <select name="where_clauses${where_counter}" id="where_clauses${where_counter}" class="dropdown-content">
                    <option id="DAY VOTES">POST DAY VOTES</option>
                    <option id="DAY VOTES">POST DAY VOTES</option>
                            <option id="MONTH VOTES">POST MONTH VOTES</option>
                            <option id="YEAR VOTES">POST YEAR VOTES</option>            
                            <option id="LIKES"disabled>POST LIKES</option>           
                            <option id="REPLIES"disabled>POST REPLIES</option>
                            <option id="POST SENTIMENT ANALYSIS"disabled>POST SENTIMENT</option>
                            <option id="POST HAS IMAGE" disabled>POST HAS IMAGE T/F</option>
                            <option id="HAS SOURCE"disabled>HAS SOURCE</option>
                            <option id="USER FOLLOWING"disabled>USER FOLLOWING</option>
                            <option id="USER FOLLOWERS"disabled>USER FOLLOWERS</option>
                            <option id="USER USER BLOCKED THEM" disabled>USER NUM BLOCKED</option>
                            <option id="FRIENDS WITH" disabled>USER FRIENDS WITH</option>
                            <option id="Post/Like Ratio" disabled>USER POST/LIKE RATIO</option>
                            <option id="USER POLARIZATION" disabled>USER POLARIZATION</option>
                            <option id="USER FOLLOWING (x)" disabled>USER FOLLOWING (x)</option>
                            <option id="USER FOLLOWED BY (x)" disabled>USER FOLLOWED BY (x)</option>
                            <option id="USER 18+" disabled>USER 18+</option>
                            <option id="USER FROM COUNTRY (x)" disabled>USER FROM COUNTRY (x)</option> 
                </select> 
                <select name="higher_equal_lower${where_counter}" id="higher_equal_lower" class="dropdown-content">
                    <option id="equal">>=</option>           
                    <option id="log">==</option>
                    <option id="log_equal"><=</option>
                </select> 
                <input name="num_search_text${where_counter}" id="num_search_text${where_counter}" size="4" type="text"maxlength="4" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ><br><br>
            </div>
        </div>
        `
        //console.log("add_another_where_clause");
        if (where_counter < 10){
            document.getElementById("where_clause_additions").innerHTML += where_clause_string
            where_counter +=1
        }

        //console.log(where_clause_string)
        //console.log(where_counter)
    }
    
    function remove_another_where_clause(){
        //console.log("remove_another_where_clause");
        document.getElementById("where_clause_additions").innerHTML = where_clause_string
        where_counter = 1 
        //console.log(where_clause_string)
        //console.log(where_counter)
    }

    function enable_built_from_other() {
        if (document.getElementById("external_source").disabled == true) {
            document.getElementById('external_source').removeAttribute("disabled");

        }
        else {
            document.getElementById("external_source").setAttribute("disabled", "enabled")
        }

    }

    function enable_exteral_link() {
        // console.log("hello world")
        if (document.getElementById("external_source_link").disabled == true) { // if disabled
            document.getElementById('external_source_link').removeAttribute("disabled");

        }
        else {
            document.getElementById("external_source_link").setAttribute("disabled", "enabled")
        }
    }

    function reply_enable_external_link(){
        if (document.getElementById("reply_external_source_link").disabled == true) { // if disabled
            document.getElementById('reply_external_source_link').removeAttribute("disabled");
        }
        else {
            document.getElementById("reply_external_source_link").setAttribute("disabled", "enabled")
        }
    }

    function post_details_func() {
        console.log(document.getElementById("insert_post").innerHTML);
        if (document.getElementById("insert_post").innerHTML == "") {
            document.getElementById("insert_post").innerHTML = ``
        } else {
            document.getElementById("insert_post").innerHTML = ""
        }

    }

    d_votes_left = '{{ daily_left }}';
    m_votes_left = '{{ monthly_left }}';
    y_votes_left = '{{ yearly_left }}';


    document.getElementById("index_daily").innerHTML = 'DAILY POOL: ${{dailypool}}';
    document.getElementById("index_monthly").innerHTML = 'MONTHLY POOL: ${{monthlypool }}';
    document.getElementById("index_yearly").innerHTML = 'YEARLY POOL: ${{yearlypool }}';

    document.getElementById("daily_votes_left").innerHTML = `DAY VOTES LEFT:  ${d_votes_left}`;
    document.getElementById("monthly_votes_left").innerHTML = `MON VOTES LEFT: ${m_votes_left}`;
    document.getElementById("yearly_votes_left").innerHTML = `YEA VOTES LEFT:  ${y_votes_left}`;
    document.getElementById("user_balance").innerHTML = 'BALANCE:${{user_balance}}';

    console.log(`VOTES LEFT:\n${d_votes_left}\n${m_votes_left}\n${y_votes_left}`)


    document.getElementById("username_location").value = '{{ session_username }}'

    if (window.history.replaceState) { // I FORGET

        window.history.replaceState(null, null, window.location.href);

    }

    // DEFINING SCORLL LOGIC
    var scroll_disabler = 0 //FOR SOME REASON YOU CAN HIT THE BOTTOM OF THE PAGE AND SCROLL 10X, DISABLES THIS
    
    window.onscroll = function (ev) {
        js_can_scroll = '{{can_scroll}}'
        //javascript bool is fucking stupid
        if (js_can_scroll == "true" || js_can_scroll == "True" ){
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
            if (scroll_disabler <1) {
                scroll_disabler += 1
                console.log("BOTTOM OF PAGE")
                
                current_page_no = document.getElementById("page_number").value;
                new_page_no = parseInt(current_page_no) + 1

                console.log("current_page_no", current_page_no)
                console.log("new_page_no", new_page_no)

                document.getElementById("page_number").value = new_page_no
                document.getElementById("search_form").submit();
                
                }
            }
        } 
        else{
            console.log(js_can_scroll)
        }

    };



    // CHANGING SIZE OF IMAGE

    function enlargeImg() {
        img = document.getElementById("post_pic");
        console.log("EXECUTION")
        if (img.style.transform == "scale(1)") {
            console.log("GROW")
            img.style.transform = "scale(2)";
            img.style.transition = "transform 0.25s ease";
        }

        else {
            console.log("SHRINK")
            img.style.transform = "scale(1)";
            img.style.transition = "transform 0.25s ease";
        }
    }

    function post_modal_toggle() {
        var modal = document.getElementById("post_modal");
        modal.style.display = "block";
    }

    function reply_modal_toggle(file_id) {
        // console.log(file_id)
        document.getElementById("reply_external_source").value = file_id;
        var modal = document.getElementById("reply_modal");
        modal.style.display = "block";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        var modal = document.getElementById("reply_modal");
        var modal2 = document.getElementById("post_modal");
        
        if ((event.target == modal) || (event.target == modal2)) {

            modal.style.display = "none";
            modal2.style.display = "none";
        }
    }


</script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock main %}
