{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->
{%block main %}
<div class="jumbotron" style="padding-top: 10px !important;padding-bottom: 10px !important;">
    <h1><u>LEADERBOARDS</u></h1>
</div>
<div class="container-flex">
    <div class="row">
        <div class="col" id="person_leaderboards">
            <div><h1>PEOPLE</h1></div>
            {% for i in range(0, people_leaderboards | length) %}
            <div>
                <b>RANK:{{i+1}}-{{leaderboard_category}} {{people_leaderboards[i][1]}} <a href="/{{people_leaderboards[i][2]}}/0">{{people_leaderboards[i][0]}} </a></b>
            </div>
            {% endfor %}
        </div>

        <div class="col">
            <!--
            <div>
                <button class="btn" readonly>
                    <a href="/leaderboards_home/total" readonly><h2>TOTAL</h2></a>
                </button>
            </div>
            -->
        </br>
            <div>
                <button class="btn">
                    <a href="/leaderboards_home/likes"><h2>LIKES</h2></a>
                </button>
            </div>
        </br>
            <div>
                <button class="btn">
                    <a href="/leaderboards_home/comments"><h2>COMMENTS</h2></a>
                </button>
            </div>
        </br>
            <div>
                <button class="btn">
                    <a href="/leaderboards_home/views"><h2>VIEWS</h2></a>
                </button>
            </div>
        </br>
            <div>
                <button class="btn" disabled>
                    <h2>FOLLOWERS</h2>
                </button>
            </div>
        </br>
            <div>
                <button class="btn" disabled>
                    <h2>COMMENT LIKES</h2>
                </button>
            </div>
        </div>    
          
        <div class="col" id="user_leaderboards">
            <div><h1>USERS</h1></div>
            {% for i in range(0, user_leaderboards | length) %}
            <div>
                <b>RANK:{{i+1}}-{{leaderboard_category}} {{user_leaderboards[i][1]}} <a href="/user_profile/{{user_leaderboards[i][0]}}/0">{{user_leaderboards[i][0]}}</a></b>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock main %}
