{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->

{%block main %}
<div>
    {{ message }} <!-- message is a variable-->
</div>
<form name="my_form" method="POST">
    <label id="email"><b>Email</b></label>
    <input name=email type="email" placeholder="Enter Email" required>

    <label id="password"><b>Password</b></label>
    <input name=password type="password" placeholder="Enter Password" required>
    <button name="submit_button" value="submit" type="submit" onclick="session_variables()">Submit</button>
</form>
<div>
    <a href="./register">Dont have an account? Click here to register!</a>
</div>
<div>
    <a href="./password_recovery">Forgot Password?</a>
</div>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock main %}



