{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->
{%block main %}
</br>
</br>
<div class="d-flex justify-content-center"><h1>NOTIFICATIONS</h1></div>
<div class="d-flex justify-content-center">(adding other features and will make this look nice later..)</div>
<button class="btn btn-primary" onclick="show_notification(this)" value="FOLLOWERS">FOLLOWERS</button>
<button class="btn btn-primary" onclick="show_notification(this)" value="LIKES">LIKES</button>
<button class="btn btn-primary" onclick="show_notification(this)" value="DISLIKES">DISLIKES</button>
<button class="btn btn-primary" onclick="show_notification(this)" value="VOTES">VOTES</button>
<button class="btn btn-primary" onclick="show_notification(this)" value="REPLIES">REPLIES</button>


<div id="show_notifications">

</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Header</th>
          <th scope="col">Header</th>
          <th scope="col">Header</th>
          <th scope="col">Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1,001</td>
          <td>random</td>
          <td>data</td>
          <td>placeholder</td>
          <td>text</td>
        </tr>
        <tr>
          <td>1,002</td>
          <td>placeholder</td>
          <td>irrelevant</td>
          <td>visual</td>
          <td>layout</td>
        </tr>
        <tr>
          <td>1,003</td>
          <td>data</td>
          <td>rich</td>
          <td>dashboard</td>
          <td>tabular</td>
        </tr>
        <tr>
          <td>1,003</td>
          <td>information</td>
          <td>placeholder</td>
          <td>illustrative</td>
          <td>data</td>
        </tr>
        <tr>
          <td>1,004</td>
          <td>text</td>
          <td>random</td>
          <td>layout</td>
          <td>dashboard</td>
        </tr>
        <tr>
          <td>1,005</td>
          <td>dashboard</td>
          <td>irrelevant</td>
          <td>text</td>
          <td>placeholder</td>
        </tr>
        <tr>
          <td>1,006</td>
          <td>dashboard</td>
          <td>illustrative</td>
          <td>rich</td>
          <td>data</td>
        </tr>
        <tr>
          <td>1,007</td>
          <td>placeholder</td>
          <td>tabular</td>
          <td>information</td>
          <td>irrelevant</td>
        </tr>
        <tr>
          <td>1,008</td>
          <td>random</td>
          <td>data</td>
          <td>placeholder</td>
          <td>text</td>
        </tr>
        <tr>
          <td>1,009</td>
          <td>placeholder</td>
          <td>irrelevant</td>
          <td>visual</td>
          <td>layout</td>
        </tr>
        <tr>
          <td>1,010</td>
          <td>data</td>
          <td>rich</td>
          <td>dashboard</td>
          <td>tabular</td>
        </tr>
        <tr>
          <td>1,011</td>
          <td>information</td>
          <td>placeholder</td>
          <td>illustrative</td>
          <td>data</td>
        </tr>
        <tr>
          <td>1,012</td>
          <td>text</td>
          <td>placeholder</td>
          <td>layout</td>
          <td>dashboard</td>
        </tr>
        <tr>
          <td>1,013</td>
          <td>dashboard</td>
          <td>irrelevant</td>
          <td>text</td>
          <td>visual</td>
        </tr>
        <tr>
          <td>1,014</td>
          <td>dashboard</td>
          <td>illustrative</td>
          <td>rich</td>
          <td>data</td>
        </tr>
        <tr>
          <td>1,015</td>
          <td>random</td>
          <td>tabular</td>
          <td>information</td>
          <td>text</td>
        </tr>
      </tbody>
    </table>
  </div>

<script>

    likes = '{{LIKES}}'
    dislikes = '{{DISLIKES}}'
    replies = '{{REPLY}}'
    votes = '{{VOTES}}'
    followers = '{{NEW_FOLLOWER}}'
    
    likes = likes.split("],")       
    dislikes = dislikes.split("],")       
    replies = replies.split("],")       
    votes = votes.split("],")        
    followers = followers.split("],")


    
    
    //console.log(likes)
    //console.log(dislikes)
    //console.log(replies)
    //console.log(votes)
    //console.log(followers)

    function show_notification(notifcation_type){

        if (notifcation_type.value == "FOLLOWERS") {
            follower_div = "<div>[Date Time],[Friendship Id], [Follower Id], [Followee Id]</div>"
            for (let i = 0; i < followers.length; i++) {
                follower_div += `<div> ${followers[i]}
                    </div>`
            }

            document.getElementById("show_notifications").innerHTML = follower_div

        } 
        else if(notifcation_type.value == "LIKES") {
            likes_div = "<div>[Date Time], [Like Id], [File Id], [Liker Username]</div>"
            for (let i = 0; i < likes.length; i++) {
                likes_div += `<div> ${likes[i]}
                    </div>`
            }

            document.getElementById("show_notifications").innerHTML = likes_div
        }
        else if(notifcation_type.value == "DISLIKES") {
            dislikes_div = "<div>[Date Time], [Like Id], [File Id], [Disliker Username]</div>"
            for (let i = 0; i < dislikes.length; i++) {
                dislikes_div += `<div> ${dislikes[i]}
                    </div>`
            }

            document.getElementById("show_notifications").innerHTML = dislikes_div
        }
        else if(notifcation_type.value == "VOTES") {
            console.log("GOT HERE")
            votes_div = "<div>[Date Time], [File Vote Id], [File Id], [Vote Type], [Voter Username]</div>"
            for (let i = 0; i < votes.length; i++) {
                votes_div += `<div> ${votes[i]}
                    </div>`
            }

            document.getElementById("show_notifications").innerHTML = votes_div
        }
        else if(notifcation_type.value == "REPLIES") {
            replies_div = "<div>[Date_Time], [File_id], [File_PATH], [Uploader], [UserId], [Post_foreign_id_source] </div>"
            for (let i = 0; i < replies.length; i++) {
                replies_div += `<div> ${replies[i]}
                    </div>`
            }

            document.getElementById("show_notifications").innerHTML = replies_div
        }

    }
</script>
{% endblock main %}
