{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->
{%block main %}
</br>
</br>
<div class="d-flex justify-content-center"><h1>NOTIFICATIONS</h1></div>
<div class="d-flex justify-content-center">(will make this look nice later..)</div>
<button class="btn btn-primary" onclick="show_notification(this)" value="FOLLOWERS">FOLLOWERS</button>
<button class="btn btn-primary" onclick="show_notification(this)" value="LIKES">LIKES</button>
<button class="btn btn-primary" onclick="show_notification(this)" value="DISLIKES">DISLIKES</button>
<button class="btn btn-primary" onclick="show_notification(this)" value="VOTES">VOTES</button>
<button class="btn btn-primary" onclick="show_notification(this)" value="REPLIES">REPLIES</button>


<div id="show_notifications">

</div>

<script>

    likes = '{{LIKES}}'
    dislikes = '{{DISLIKES}}'
    replies = '{{REPLY}}'
    votes = '{{VOTES}}'
    followers = '{{NEW_FOLLOWER}}'
    
    likes = likes.split("],")       
    dislikes = dislikes.split("],")       
    replies = replies.split("],")       
    votes = votes.split("],")        
    followers = followers.split("],")


    
    
    //console.log(likes)
    //console.log(dislikes)
    //console.log(replies)
    //console.log(votes)
    //console.log(followers)

    function show_notification(notifcation_type){

        if (notifcation_type.value == "FOLLOWERS") {
            follower_div = "<div>[Date Time],[Friendship Id], [Follower Id], [Followee Id]</div>"
            for (let i = 0; i < followers.length; i++) {
                follower_div += `<div> ${followers[i]}
                    </div>`
            }

            document.getElementById("show_notifications").innerHTML = follower_div

        } 
        else if(notifcation_type.value == "LIKES") {
            likes_div = "<div>[Date Time], [Like Id], [File Id], [Liker Username]</div>"
            for (let i = 0; i < likes.length; i++) {
                likes_div += `<div> ${likes[i]}
                    </div>`
            }

            document.getElementById("show_notifications").innerHTML = likes_div
        }
        else if(notifcation_type.value == "DISLIKES") {
            dislikes_div = "<div>[Date Time], [Like Id], [File Id], [Disliker Username]</div>"
            for (let i = 0; i < dislikes.length; i++) {
                dislikes_div += `<div> ${dislikes[i]}
                    </div>`
            }

            document.getElementById("show_notifications").innerHTML = dislikes_div
        }
        else if(notifcation_type.value == "VOTES") {
            console.log("GOT HERE")
            votes_div = "<div>[Date Time], [File Vote Id], [File Id], [Vote Type], [Voter Username]</div>"
            for (let i = 0; i < votes.length; i++) {
                votes_div += `<div> ${votes[i]}
                    </div>`
            }

            document.getElementById("show_notifications").innerHTML = votes_div
        }
        else if(notifcation_type.value == "REPLIES") {
            replies_div = "<div>[Date_Time], [File_id], [File_PATH], [Uploader], [UserId], [Post_foreign_id_source] </div>"
            for (let i = 0; i < replies.length; i++) {
                replies_div += `<div> ${replies[i]}
                    </div>`
            }

            document.getElementById("show_notifications").innerHTML = replies_div
        }
        
    }
</script>
{% endblock main %}
