{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->

{%block main %}
{{message}}
<div class="container">
    <div id="pass_feedback">
    
    </div>
     <form  name="password_reset" method="POST">
        <label id="One Time Password" class="sr-only" ><b>One Time Password</b></label>
        <input name="One Time Password" type="text"  class="form-control" placeholder="One Time Password" required>

        <input name=email type="email"  class="form-control" placeholder="Enter Email" required>
        
        <input onkeyup="PASSWORD_VALIDATION(this.value)" name="password" type="password" class="form-control" placeholder="New Password" required>
    
        <input name="check_password" type="password" class="form-control" placeholder="Repeat New Password" required>
    
        <button id="pass_submit_checked" class="btn btn-lg btn-primary btn-block" type="submit" value="submit" onclick="session_variables()" disabled>Update Password</button>
    </form>

</div>
<script>
    function PASSWORD_VALIDATION(value){
		if (! (special_char_checker(value)) || (!(value.length >= 8))){
			document.getElementById("pass_feedback").innerHTML = "PASSWORD IS TOO SHORT OR NEEDS A SPECIAL CHARACTER"
			console.log("NEEDS A SPECIAL CHARACTER")
			document.getElementById("pass_submit_checked").disabled = true
		}
		else{
			document.getElementById("pass_feedback").innerHTML = "PASS LOOKS GOOD"
			document.getElementById("pass_submit_checked").disabled = false
		}
		
	}
    function session_variables(){
        console.log("FUNCTION: session_variables()");

        localStorage.removeItem("email");
        localStorage.removeItem("password");

        const formData = new FormData(document.querySelector('form'))
        for (var pair of formData.entries()) {
            console.log(pair[0] + ': ' + pair[1]);
            localStorage.setItem(pair[0], pair[1]);
        }
    }
    function special_char_checker(string){
		var format = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
		if(format.test(string)){
			return true;
		} else {
			return false;
		}
	}



</script>
{% endblock main %}
