{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->

{%block main %}
<div id="password_recovery_test">
    enter email, if email exist, youll get further insturctions
</div>
<form action="/password_recovery" name="password_recovery_form" method="POST">
    <label id="email"><b>Email</b></label>
    <input name=email type="email" placeholder="Enter Email" required>

    <button name="submit_button" value="submit" type="submit" >Submit</button>
</form>
{% endblock main %}
