{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->

{%block main %}
<form name="password_reset" method="POST">
    <label id="email"><b>Email</b></label>
    <input name=email type="email" placeholder="Enter Email" required>

    <div>
        <label id="password"><b>Password</b></label>
        <input name=password type="password" placeholder="Enter Password" required>
    </div>

    <div>
        <label id="repeat_password"><b>repeat_password</b></label>
        <input name=repeat_password type="password" placeholder="repeat_password" required>
    </div>

    <button name="submit_button" value="submit" type="submit" onclick="session_variables()">Submit</button>
</form>
{{message}}


<script>
    function session_variables(){
    console.log("FUNCTION: session_variables()");

    localStorage.removeItem("email");
    localStorage.removeItem("password");

    const formData = new FormData(document.querySelector('form'))
    for (var pair of formData.entries()) {
        console.log(pair[0] + ': ' + pair[1]);
        localStorage.setItem(pair[0], pair[1]);
    }
}
</script>
{% endblock main %}
