{% extends "structure.html" %}

{%block main %}
    <div>
        {{ return_message }} 
    </div>
    <div>
        YOU CANNOT CHANGE YOUR USERNAME <!-- message is a variable-->
    </div>

    <form method="POST">
        <div>
            <input name=username type="text" placeholder="Enter Username"  required>
            <label id="username"></label>
        </div>

        <div>
            <input name=password type="password" placeholder="Enter Password" required>
            <label id="password"></label>
        </div>

        <div>
            <input name=email type="email" placeholder="Enter Email" required>
            <label id="email"></label>
        </div>

        <div>   
            <input name=paypal_email type="email" placeholder="Enter Paypal Email" required>
            <label id="paypal_email"></label>
        </div>
        
        <div>
            <button name="submit_button" value="submit" type="submit">Submit</button>
        </div>





        
    </form>


{% endblock main %}
