{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->
{%block main %}
<div class="container">
    <div class="jumbotron" style="padding-top: 10px !important;padding-bottom: 10px !important;">
        <h1><u>SUPPORTED SITES</u></h1>
    <ul class="d-flex flex-wrap list-group-horizontal">
        <li class="list-group-item"><img src={{ url_for('static', filename='site_logos/youtube.png') }} width="50" height="50"></li>
        <li class="list-group-item"><img src={{ url_for('static', filename='site_logos/archive.png') }} width="50" height="50"></li>
        <li class="list-group-item"><img src={{ url_for('static', filename='site_logos/dailymotion.png') }} width="50" height="50"></li>
        <li class="list-group-item"><img src={{ url_for('static', filename='site_logos/dtube.png') }} width="50" height="50"></li>
        <li class="list-group-item"><img src={{ url_for('static', filename='site_logos/infowars.png') }} width="50" height="50"></li>
        <li class="list-group-item"><img src={{ url_for('static', filename='site_logos/odysee.png') }} width="50" height="50"></li>
        <li class="list-group-item"><img src={{ url_for('static', filename='site_logos/reddit.png') }} width="50" height="50"></li>
        <li class="list-group-item"><img src={{ url_for('static', filename='site_logos/rumble.png') }} width="50" height="50"></li>
        <li class="list-group-item"><img src={{ url_for('static', filename='site_logos/tiktok.png') }} width="50" height="50"></li>
        <li class="list-group-item"><img src={{ url_for('static', filename='site_logos/vimeo.png') }} width="50" height="50"></li>
        <li class="list-group-item"><img src={{ url_for('static', filename='site_logos/facebook.png') }} width="50" height="50"></li>
        <li class="list-group-item"><img src={{ url_for('static', filename='site_logos/twitter.png') }} width="50" height="50"></li>
        <li class="list-group-item"><img src={{ url_for('static', filename='site_logos/instagram.png') }} width="50" height="50"></li>
        <li class="list-group-item"><img src={{ url_for('static', filename='site_logos/soundcloud.png') }} width="50" height="50"></li>
            </ul>
    </ul>
</div>

{% if request_type == "person" %}
<form action="/request_form/{{request_type}}" method="POST" enctype="multipart/form-data">
    <label><b><u><h2>Person Name(s)<h4>(alias works, but <b><u>FAR</u></b> less likely to be accepted)</h4></h2></u></b></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" onclick="add_new_user()">Add User</button>
        </div>
        <div>
            <input class="form-control" id="new_person_name"   placeholder="Name" maxlength="80"><!--name="person_name"-->
        </div>
    </div>

    <input class="form-control" id="new_users" name="person_name" placeholder="Names" maxlength="80" required readonly>

    <div>
        <label><b><u><h2>Post Title:</h2></u></b></label>
        <input class="form-control" id="name" name="post_title" placeholder="Post Title" maxlength="100" required>
    </div>

    <div>
        <label><b><u><h2>Example link of their work:</h2></u></b></label>
        <input class="form-control"id="link" name="post_link" type="url" placeholder="Video Link" maxlength="100" required>
    </div> 
    <div>
        <label><b><u><h2>Description of link:</h2></u></b></label>
        <textarea class="form-control" id="textbox" name="description" rows="2" cols="50" maxlength="400" required></textarea>
    </div>
    
    <button class="btn btn-secondary" name="upload" value="upload">UPLOAD</button>
</form>


{% elif request_type == "post" %}
<form action="/request_form/{{request_type}}" method="POST" enctype="multipart/form-data">
    
    <div>
            <label>
                <b><u>
                    <h2>Who is in this video? (5 max)</h2>
                </u></b>
                <div>
                    <a href="/request_form/person">
                        <h6><i>Can't find who you're looking for? Add them here.</i></h6>
                    </a>
                </div>
            </label>
            <div>
                <input class="form-control" id="link" type="text" hx-get="/search_text_by_category/user" maxlength="80"
                    name="person_name" hx-trigger="keyup changed delay:500ms" hx-target="#search-results"
                    placeholder="Search...">
            </div>
    </div>
    <div id="search-results">
    </div>
    <div>
        <input class="form-control" name="chosen_name" placeholder="" value="" id="selected_users"readonly>
    </div>
    
    <div>
        <label><b><u><h2>Post Title:</h2></u></b></label>
        <input class="form-control" id="name" name="post_title" placeholder="Post Title" maxlength="100" required>
    </div>

    <div>
        <label><b><u><h2>Source Link:</h2></u></b></label>
        <input class="form-control"id="link" name="post_link" type="url" maxlength="100" placeholder="Video Link">
    </div> 
    <div>
        <label for="textbox"><b><u><h2>Description of link:</h2></u></b></label>
        <textarea class="form-control" id="textbox" name="description" rows="2" cols="50" maxlength="400" required></textarea>
    </div>
    
    <button class="btn btn-secondary" name="upload" value="upload">UPLOAD</button>
</form>
{% endif %}


<script>
    count = 0
    function choose_selected_user(user){
        if (count <= 4)
            // turn into += when i figure out hwo to do multiple
            document.getElementById("selected_users").value += `${user},`
            count +=1
    }

    person_count = 0
    function add_new_user(){
        if (person_count <= 4){
            name = document.getElementById("new_person_name").value
            // console.log("test", name)
            name = name.replace(/[^a-zA-Z ]/g, "")
            name = name.replace("  ", " ")
            name = name.replace("   ", " ")
            name = name.replace("    ", " ")
            name = name.replace("     ", " ")


            let mySentence = name
            let words = mySentence.split(" ");
            final_phrase = ""
            for (let i = 0; i < words.length; i++) {
                words[i] = words[i][0].toUpperCase() + words[i].substr(1);
                final_phrase += words[i] + " "

            }
            console.log(final_phrase)
            //console.log(final_phrase.length)

            final_phrase = final_phrase.trim()
            list_of_names_already = get_list_of_names()
            console.log(list_of_names_already)

            if (!(list_of_names_already.includes(final_phrase))){
                document.getElementById("new_users").value += `${final_phrase},`
                person_count +=1
        
                document.getElementById("new_person_name").value = ""
            }
        }
    }
    function get_list_of_names(){
        names = document.getElementById("new_users").value
        names.split(",")
        return names
    }
    
</script>
{% endblock main %}
