{% extends "structure.html" %}



{%block main %}

{% if search_type == "user"%}
<div class="container">
    <div class="jumbotron" style="  padding-top: 10px !important;padding-bottom: 10px !important;">
        <h1><ul>USER ALGORITHMS</ul></h1>
        <p class="lead" id="currently_using">CURRENTLY USING: {{search_name}}</p>
    </div>
</div>
{% else %}
<div class="container">
    <div class="jumbotron" style="  padding-top: 10px !important;padding-bottom: 10px !important;">
        <h1><u>SEARCH ALGORITHMS</u></h1>
        <p class="lead"><u><b>Save</u></b> search algorithms that other people have written, and <u><b>build</b></u> on them!</p>
        <p class="lead">See <i><b><u>exactly</b></u></i> what query is producing your feed.</p>
    </div>
</div>
{% endif %}
<div class="container">
<form action="/search_text_by_category/search_homepage">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn" type="submit">SEARCH</button>
        </div>
        <input class="form-control" id="link" type="text" name="person_name" placeholder="Algorithm Name..">
    </div>
      
    <div>
        
    </div> 
    
</form>
</div>
<div id="search_list" >
        <table class="table table-striped table-sm">
            
            <thead>
                <tr>
                    <th scope="col">Choose to use</th>
                    <th scope="col">Searches</th>
                    <th scope="col">Name</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Where</th>
                    <th scope="col">Order By</th>
                    <th scope="col">Saved</th>
                    <th scope="col">Fork</th>
                </tr>
            </thead>
            
                <tbody>
                    {%for i in range(algos |length )%}
                        {% if algos[i] |length == 0%} <!--DON'T print the empties-->
                        {% else %}
                            <tr>
                                <td>
                                    {{updated}}
                                    <div id="chosen_algo_{{i}}">
                                        <button class="btn btn-dark" type="button" hx-get="/update_search_algo_choice/{{algos[i][0]}}" hx-trigger="click" hx-target="#chosen_algo_{{i}}" hx-swap="innerHTML">
                                            CHOOSE 
                                        </button>
                                    </div>
            
                                </td>
                                <td>{{algos[i][6]}}</td>
                                <td>{{algos[i][1]}}</td>
                                <td>{{algos[i][5]}}</td>
                                <td>{{algos[i][4]}}</td>
                                <td>
                                    <button class="btn btn-dark" type="button" onclick="show_where({{i}})">
                                        SHOW
                                    </button>
                                    <div id="show_where_{{i}}" hidden>
                                        {{algos[i][2]}}
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-dark" type="button" onclick="show_order({{i}})">
                                        SHOW
                                    </button>
                                    <div id="show_order_{{i}}" hidden>
                                        {{algos[i][3]}}
                                    </div>
                                </td>
                                <td>
                                    {% if algos[i][7] == 0%}
                                    <button class="btn btn-outline-dark btn-lg" hx-post="/update_search_fave/{{algos[i][0]}}" hx-trigger="click" hx-target="#search_fave_location{{i}}" hx-swap="innerHTML"  onclick="fave_logic(this)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                        </svg>
                                        <span id="search_fave_location{{i}}">
                                            {{algos[i][8]}}
                                            {{search_faves}}
                                        </span>
                                    </button>
                                    {% else %}
                                    <button class="btn btn-outline-danger btn-lg" hx-post="/update_search_fave/{{algos[i][0]}}" hx-trigger="click" hx-target="#search_fave_location{{i}}" hx-swap="innerHTML"  onclick="fave_logic(this)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                        </svg>
                                        <span id="search_fave_location{{i}}">
                                            {{algos[i][8]}}
                                            {{search_faves}}
                                        </span>
                                    </button>
                                    {% endif %}
                                </td>
                                <td>
                                    <button class="btn btn-dark" type="button" disabled>
                                        FORK
                                    </button>
                                </td>
                            </tr>
                        {% endif %}
                    {%endfor%}
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="/search_algo_home/{{search_type}}/{{page_no|int -2}}">Previous</a></li>
      <li class="page-item"><a class="page-link" href="/search_algo_home/{{search_type}}/{{page_no}}">+1</a></li>
      <li class="page-item"><a class="page-link" href="/search_algo_home/{{search_type}}/{{page_no+1}}">+2</a></li>
      <li class="page-item"><a class="page-link" href="/search_algo_home/{{search_type}}/{{page_no+3}}">+4</a></li>
      <li class="page-item"><a class="page-link" href="/search_algo_home/{{search_type}}/{{page_no+7}}">+8</a></li>
      <li class="page-item"><a class="page-link" href="/search_algo_home/{{search_type}}/{{page_no+15}}">+16</a></li>
      <li class="page-item"><a class="page-link" href="/search_algo_home/{{search_type}}/{{page_no+31}}">+32</a></li>
    </ul>
</nav>



<script>
    function show_where(iter){
        where = document.getElementById(`show_where_${iter}`)
        if (where.hidden == true){
            where.removeAttribute("hidden")
        }
        else{
            where.setAttribute("hidden", "enabled")
        }
    }
    function show_order(iter){
        order = document.getElementById(`show_order_${iter}`)
        if (order.hidden == true){
            order.removeAttribute("hidden")
        }
        else{
            order.setAttribute("hidden", "enabled")
        }
    }
    function fave_logic(value){
        console.log(value)
        if ( $(value).hasClass("btn btn-outline-danger")){
            $(value).removeClass("btn btn-outline-danger");
            $(value).addClass("btn btn-outline-dark");  
        }
        else{
            $(value).removeClass("btn btn-outline-dark");
            $(value).addClass("btn btn-outline-danger");  
        }
    }

	
</script>
{% endblock main %}