{% extends "structure.html" %}

{%block main %}

<div class="container">
    <div class="jumbotron" style="padding-top: 10px !important;padding-bottom: 10px !important;">
        <h1><u>CREATE CUSTOM SEARCH ALGORITHM</u></h1>
        <p class="lead">Compose your own feed to your heart's content!</p>
        <p class="lead">More customization options coming soon!</p>
    </div>
</div>

<form action="/search_algo_create" method="POST" enctype="multipart/form-data">
    <div class="container-lg">
        <div class="row">
                <!-- LEFT SECTION -->
                <div class="col-5" >
                        <div id="order_by_title">
                            <b>ORDER BY CLAUSES (SUM)</b>
                            <!--
                            <button class="btn btn-lg" type="button" onclick="add_another_order_by_section()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                                    <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"/>
                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                                </svg>
                            </button>
                            -->
                        </div>
                    </br>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Likes" onchange="LikesChange()">
                        <label class="custom-control-label" for="Likes">Likes</label>
                
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Likes_Total" id="Num_Likes_Total" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Likes Total
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Likes_By_Me" id="Num_Likes_By_Me" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Likes By Me
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Likes_by_Followers" id="Num_Likes_by_Followers" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Likes by Followers
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Likes_by_Following" id="Num_Likes_by_Following" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Likes by Following
                            </label>
                        </div>
                    </div>
                
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Comments" onchange="CommentsChange()">
                        <label class="custom-control-label" for="Comments">Comments</label>
                
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Comments_Total" id="Num_Comments_Total" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Comments Total
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Comments_By_Me" id="Num_Comments_By_Me" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Comments By Me
                            </label>
                        </div>
                
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Comments_by_Followers" id="Num_Comments_by_Followers" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Comments by Followers
                            </label>
                        </div>
                
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Comments_by_Following" id="Num_Comments_by_Following" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Comments by Following
                            </label>
                        </div>
                
                    </div>
                
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Views" onchange="ViewsChange()">
                        <label class="custom-control-label" for="Views">Views</label>
                
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Views_Total" id="Num_Views_Total" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Views Total
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Views_By_Me" id="Num_Views_By_Me" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Views By Me
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Views_by_Followers" id="Num_Views_by_Followers" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Views by Followers
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Views_by_Following" id="Num_Views_by_Following" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Views by Following
                            </label>
                        </div>
                
                    </div>
                
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Favourites" onchange="FavouritesChange()">
                        <label class="custom-control-label" for="Favourites">Favourites</label>
                
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Favourites_Total" id="Num_Favourites_Total" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Favourites Total
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Favourites_By_Me" id="Num_Favourites_By_Me" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Favourites By Me
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Favourites_by_Followers" id="Num_Favourites_by_Followers" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Favourites by Followers
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Favourites_by_Following" id="Num_Favourites_by_Following" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Favourites by Following
                            </label>
                        </div>
                    </div>
                
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Comment Likes" onclick="CommentLikesChange()">
                        <label class="custom-control-label" for="Comment Likes">Comment Likes</label>
                
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Comment_Likes_Total" id="Num_Comment_Likes_Total" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Comment Likes Total
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Comment_Likes_By_Me" id="Num_Comment_Likes_By_Me" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Comment Likes By Me
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Comment_Likes_by_Followers" id="Num_Comment_Likes_by_Followers" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Comment Likes by Followers
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="Order_Num_Comment_Likes_by_Following" id="Num_Comment_Likes_by_Following" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num Comment Likes by Following
                            </label>
                        </div>
                
                    </div>

                </div>

                <!-- MIDDLE SECTION -->
                <div class="col-2">
                    
                    <div>
                        <input class="form-control" id="link" type="text" hx-get="/search_text_by_category/algorithm" name="algo_name" hx-trigger="keyup changed delay:500ms" hx-target="#search-results" placeholder="Name" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="search_algo_button" disabled>Create</button>
                    <div id="search-results"></div>
                    <small>
                        <div>
                            2 per day
                        </div>

                        <div>
                            {{failure_message}}
                        </div>
                        
                    </small>
                    {{message}}
                    </br>
                    
                    <div>
                        <p>Bias Likes</p>
                        <input type="range" class="custom-range" name="likes_bias" id="range_likes">
                        <p>Bias Views</p>
                        <input type="range" class="custom-range" name="views_bias" id="range_views">
                        <p>Bias Favourites</p>
                        <input type="range" class="custom-range" name="faves_bias" id="range_faves">
                        <p>Bias Comments</p>
                        <input type="range" class="custom-range" name="comments_bias" id="range_comments">
                        <p>Bias Comment Likes</p>
                        <input type="range" class="custom-range" name="comment_likes_bias" id="comment_likes_bias">
                        
                        <p>Bias Subscription</p>
                        <input type="range" class="custom-range" name="subscriptions_bias" id="range_subscriptions" disabled>
                        <p>Bias Following</p>
                        <input type="range" class="custom-range" id="customRange1" disabled>
                        <p>Bias Followers</p>
                        <input type="range" class="custom-range" id="customRange1" disabled>
                        <p>Bias Block</p>
                        <input type="range" class="custom-range" id="customRange1" disabled>
                    </div>
                    
                </div>

                <!-- RIGHT SECTION -->
                <div class="col-5" id="where_clause">
                    <div id="where_title">
                        <b>WHERE CLAUSES</b>
                    </div>
                </br>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Date" onchange="DateChange()" checked disabled>
                        <label class="custom-control-label" for="Date">Post Date</label>
                
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Where_Date" id="All Time" value="All Time"checked>
                            <label class="form-check-label" for="All Time">
                                All Time
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Where_Date" id="Year"value="Year">
                            <label class="form-check-label" for="Year">
                                Year
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Where_Date" id="Month"value="Month">
                            <label class="form-check-label" for="Month">
                                Month
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Where_Date" id="Week"value="Week">
                            <label class="form-check-label" for="Week">
                                Week
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Where_Date" id="Day" value="Day">
                            <label class="form-check-label" for="Day">
                                Day
                            </label>
                        </div>
                    </div>
                
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="WhereLikes" onchange="WhereLikesChange()">
                        <label class="custom-control-label" for="WhereLikes">Likes</label>
                
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="10" name="Where_Likes" id="WhereLikes10" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Likes >= 10
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="100" name="Where_Likes" id="WhereLikes100" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Likes >= 100
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="1000" name="Where_Likes" id="WhereLikes1000" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Likes >= 1000
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="10000" name="Where_Likes" id="WhereLikes10000" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Likes >= 10000
                            </label>
                        </div>
                        <!--
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="100000" name="Likes" id="WhereLikes100000" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Likes >= 100000
                            </label>
                        </div>
                        -->

                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="WhereComments" onchange="WhereCommentsChange()">
                        <label class="custom-control-label" for="WhereComments">Comments</label>
                
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="10" name="Where_Comments" id="WhereComments10" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Comments >= 10
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="100" name="Where_Comments" id="WhereComments100" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Comments >= 100
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="1000" name="Where_Comments" id="WhereComments1000" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Comments >= 1000
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="10000" name="Where_Comments" id="WhereComments10000" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Comments >= 10000
                            </label>
                        </div>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="WhereViews" onchange="WhereViewsChange()">
                        <label class="custom-control-label" for="WhereViews">Views</label>
                
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="10" name="Where_Views" id="WhereViews10" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Views >= 10
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="100" name="Where_Views" id="WhereViews100" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Views >= 100
                            </label>
                            
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="1000" name="Where_Views" id="WhereViews1000" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Views >= 1000
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="10000" name="Where_Views" id="WhereViews10000" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Views >= 10000
                            </label>
                        </div>
                        <!--
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="100000" name="Views" id="WhereViews100000" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Views >= 100000
                            </label>
                        </div>
                        -->
  
                    </div>
                
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="WhereFavourites" onchange="WhereFavouritesChange()">
                        <label class="custom-control-label" for="WhereFavourites">Favourites</label>
                
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="10" name="Where_Favourites" id="WhereFavourites10" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Favourites >= 10
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="100" name="Where_Favourites" id="WhereFavourites100" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Favourites >= 100
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="1000" name="Where_Favourites" id="WhereFavourites1000" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Favourites >= 1000
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="10000" name="Where_Favourites" id="WhereFavourites10000" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Favourites >= 10000
                            </label>
                        </div>
                        <!--
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="100000" name="Favourites" id="WhereFavourites100000" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Favourites >= 100000
                            </label>
                        </div>
                        -->

                    </div>
                    
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" disabled>
                        <label class="custom-control-label">Misc</label>
                
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Num People Tagged >= N
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Person(s) Name == X
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Uploader Name == X
                            </label>
                        </div>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" disabled>
                        <label class="custom-control-label">Personals</label>
                
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Liked By Me
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Not liked By Me
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Saved By Me
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Not Saved By Me
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Commented On By Me
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Not Commented On By Me
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Viewed By Me
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Not Viewed By Me
                            </label>
                        </div>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input"disabled>
                        <label class="custom-control-label" >Personals Followers</label>
                
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Liked By Followers
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Not liked By Followers
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Saved By Followers
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Not Saved By Followers
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Commented On By Followers
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Not Commented On By Followers
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Viewed By Followers
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Not Viewed By Followers
                            </label>
                        </div>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input"disabled>
                        <label class="custom-control-label">Personals Following</label>
                
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Liked By Following
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Not liked By Following
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Saved By Following
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Not Saved By Following
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Commented On By Following
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Not Commented On By Following
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Viewed By Following
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Not Viewed On By Following
                            </label>
                        </div>
                    </div>
 
                </div><!--COL END-->
                
        </div>   
    </div>
</form>

<script>
    function check_select_type_comparison(){
        e = document.getElementById("where_select_type")
        var value = e.value;
        console.log(value)
        
        
        /*ENABLE OR DISABLE BASED ON THE TYPE OF WHERE CLAUSE*/
        if (array_of_time_checkers.includes(value)){
            console.log("disabling")
            document.getElementById("where_select_comparison").disabled = true;
            document.getElementById("where_select_count").disabled = true;
        }
        else{
            document.getElementById("where_select_comparison").disabled = false;
            document.getElementById("where_select_count").disabled = false;
        }
    }
    function LikesChange(){
        console.log("Likes")
        if (document.getElementById("Num_Likes_Total").disabled == true){
            document.getElementById("Num_Likes_Total").disabled = false
            document.getElementById("Num_Likes_By_Me").disabled = false
            document.getElementById("Num_Likes_by_Followers").disabled = false
            document.getElementById("Num_Likes_by_Following").disabled = false
        }else{
            document.getElementById("Num_Likes_Total").disabled = true
            document.getElementById("Num_Likes_By_Me").disabled = true
            document.getElementById("Num_Likes_by_Followers").disabled = true
            document.getElementById("Num_Likes_by_Following").disabled = true
        }
    }
    function CommentsChange(){
        console.log("Comments");
        if (document.getElementById("Num_Comments_Total").disabled == true){
            document.getElementById("Num_Comments_Total").disabled = false
            document.getElementById("Num_Comments_By_Me").disabled = false
            document.getElementById("Num_Comments_by_Followers").disabled = false
            document.getElementById("Num_Comments_by_Following").disabled = false
        }else{
            document.getElementById("Num_Comments_Total").disabled = true
            document.getElementById("Num_Comments_By_Me").disabled = true
            document.getElementById("Num_Comments_by_Followers").disabled = true
            document.getElementById("Num_Comments_by_Following").disabled = true
        }
    }
    function ViewsChange(){
        console.log("Views");
        if (document.getElementById("Num_Views_Total").disabled == true){
            document.getElementById("Num_Views_Total").disabled = false
            document.getElementById("Num_Views_By_Me").disabled = false
            document.getElementById("Num_Views_by_Followers").disabled = false
            document.getElementById("Num_Views_by_Following").disabled = false
        }else{
            document.getElementById("Num_Views_Total").disabled = true
            document.getElementById("Num_Views_By_Me").disabled = true
            document.getElementById("Num_Views_by_Followers").disabled = true
            document.getElementById("Num_Views_by_Following").disabled = true
        }
    }
    function FavouritesChange(){
        console.log("Favourites");
        if (document.getElementById("Num_Favourites_Total").disabled == true){
            document.getElementById("Num_Favourites_Total").disabled = false
            document.getElementById("Num_Favourites_By_Me").disabled = false
            document.getElementById("Num_Favourites_by_Followers").disabled = false
            document.getElementById("Num_Favourites_by_Following").disabled = false
        }else{
            document.getElementById("Num_Favourites_Total").disabled = true
            document.getElementById("Num_Favourites_By_Me").disabled = true
            document.getElementById("Num_Favourites_by_Followers").disabled = true
            document.getElementById("Num_Favourites_by_Following").disabled = true
        }
    }
    function CommentLikesChange(){
        console.log("Comment Likes");
        if (document.getElementById("Num_Comment_Likes_Total").disabled == true){
            document.getElementById("Num_Comment_Likes_Total").disabled = false
            document.getElementById("Num_Comment_Likes_By_Me").disabled = false
            document.getElementById("Num_Comment_Likes_by_Followers").disabled = false
            document.getElementById("Num_Comment_Likes_by_Following").disabled = false
        }else{
            document.getElementById("Num_Comment_Likes_Total").disabled = true
            document.getElementById("Num_Comment_Likes_By_Me").disabled = true
            document.getElementById("Num_Comment_Likes_by_Followers").disabled = true
            document.getElementById("Num_Comment_Likes_by_Following").disabled = true
        }
    }

    // WHERE CLAUSES

    function WhereLikesChange(){
        console.log("WHERE Likes")
        if (document.getElementById("WhereLikes10").disabled == true){
            document.getElementById("WhereLikes10").disabled = false
            document.getElementById("WhereLikes100").disabled = false
            document.getElementById("WhereLikes1000").disabled = false
            document.getElementById("WhereLikes10000").disabled = false
            //document.getElementById("WhereLikes100000").disabled = false
        }else{
            document.getElementById("WhereLikes10").disabled = false
            document.getElementById("WhereLikes100").disabled = false
            document.getElementById("WhereLikes1000").disabled = false
            document.getElementById("WhereLikes10000").disabled = false
           // document.getElementById("WhereLikes100000").disabled = false
        }
    }
    function WhereCommentsChange(){
        console.log("WHERE Likes")
        if (document.getElementById("WhereComments10").disabled == true){
            document.getElementById("WhereComments10").disabled = false
            document.getElementById("WhereComments100").disabled = false
            document.getElementById("WhereComments1000").disabled = false
            document.getElementById("WhereComments10000").disabled = false
            //document.getElementById("WhereComments100000").disabled = false
        }else{
            document.getElementById("WhereComments10").disabled = false
            document.getElementById("WhereComments100").disabled = false
            document.getElementById("WhereComments1000").disabled = false
            document.getElementById("WhereComments10000").disabled = false
            //document.getElementById("WhereComments100000").disabled = false
        }
    }
    function WhereViewsChange(){
        console.log("WHERE Likes")
        if (document.getElementById("WhereViews10").disabled == true){
            document.getElementById("WhereViews10").disabled = false
            document.getElementById("WhereViews100").disabled = false
            document.getElementById("WhereViews1000").disabled = false
            document.getElementById("WhereViews10000").disabled = false
            //document.getElementById("WhereViews100000").disabled = false
        }else{
            document.getElementById("WhereViews10").disabled = false
            document.getElementById("WhereViews100").disabled = false
            document.getElementById("WhereViews1000").disabled = false
            document.getElementById("WhereViews10000").disabled = false
            //document.getElementById("WhereViews100000").disabled = false
        }
    }
    function WhereFavouritesChange(){
        console.log("WHERE Likes")
        if (document.getElementById("WhereFavourites10").disabled == true){
            document.getElementById("WhereFavourites10").disabled = false
            document.getElementById("WhereFavourites100").disabled = false
            document.getElementById("WhereFavourites1000").disabled = false
            document.getElementById("WhereFavourites10000").disabled = false
            //document.getElementById("WhereFavourites100000").disabled = false
        }else{
            document.getElementById("WhereFavourites10").disabled = false
            document.getElementById("WhereFavourites100").disabled = false
            document.getElementById("WhereFavourites1000").disabled = false
            document.getElementById("WhereFavourites10000").disabled = false
            //document.getElementById("WhereFavourites100000").disabled = false
        }
    }
</script>
{% endblock main %}
