{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML value="{{algos[i][2]}}"-->
{%block main %}
<div>
	<form action="search_algorithms_page" method="post">      
		<h1><input class="btn btn-primary" type="submit" value="SHOW ALL" name="show_all"/></h1>
		<h1><input class="btn btn-primary" type="submit" value="SHOW MY FAVOURITES" name="show_favourites"/></h1>
		<h1><input class="btn btn-primary" type="submit" value="SHOW MINE" name="show_mine" disabled/></h1>
		<h1><input class="btn btn-primary" type="submit" value="NEXT PAGE" name="next_page" disabled/></h1>
	</form>
	

</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Search Votes</th>
                <th scope="col">Name</th>
                <th scope="col">Creator</th>
                <th scope="col">Creation Date</th>
				<th scope="col">Algo Details</th>
				<th scope="col">Add To Favourites</th>
				<th scope="col">Del From Favourites</th>
            </tr>
        </thead>
        <tbody>
			{%for i in range(0, len_algos )%}
			<tr>
                <td>{{algos[i][1]}}</td>
                <td>{{algos[i][2]}}</td>
                <td>{{algos[i][0]}}</td>
                <td>{{algos[i][3]}}</td>
				<td>
					<button class="btn btn-primary" id="show_algo_button">SHOW</button>

				</td>
				<td>
					<form action="search_algorithms_page" method="post">      
						<input class="btn btn-primary" type="submit" value="{{algos[i][2]}}" name="save_algo"/>
					</form>
				</td>
				<td>
					<form action="search_algorithms_page" method="post">      
						<input class="btn btn-primary" type="submit" value="{{algos[i][2]}}" name="del_algo"/>
					</form>
				</td>
            </tr>
			{%endfor%}
      </tbody>
    </table>
</div>
<script>
    d_votes_left = '{{ daily_left }}';
    m_votes_left = '{{ monthly_left }}';
    y_votes_left = '{{ yearly_left }}';
    // console.log(d_votes_left)
    
    document.getElementById("index_daily").innerHTML = 'DAILY POOL: ${{daily_pool}}';
    document.getElementById("index_monthly").innerHTML = 'MONTHLY POOL: ${{monthly_pool }}';
    document.getElementById("index_yearly").innerHTML = 'YEARLY POOL: ${{yearly_pool }}';
    
    
    
    document.getElementById("daily_votes_left").innerHTML = `DAILY VOTES: ${d_votes_left}`;
    document.getElementById("monthly_votes_left").innerHTML = `MONTHLY VOTES: ${m_votes_left}`;
    document.getElementById("yearly_votes_left").innerHTML = `YEARLY VOTES: ${y_votes_left}`;
    document.getElementById("user_balance").innerHTML = 'BALANCE:${{user_balance}}';
    console.log("TERMS AND CONDITIONS")
</script>
{% endblock main %}