<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- TRY NOT TO FUCK WITH THE ORDER, THIS IS NIGHTMARISHLY DELICATE-->

    <!--DANIEL CSS-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">
    
    <!--MY CSS-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo/icon_logo.png') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/2bootstrap.min.css" />
    <link rel="stylesheet" media="screen" href="static/css/main.css"> 
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="sticky-footer.css" rel="stylesheet">

    <!--FOOTER-->
    <title>Mansura</title>
</head>

<body>
    <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav_test">
      <span style="font-size:20px;"><a id="navbar_name" class="navbar-brand mx-3" href="./">Mansura</a></span>
      <span style="font-size:11px;">open beta v0.1</span>
      <span><a class="nav-link" id="index_daily"></a></span>
      <span><a class="nav-link" id="index_monthly"></a></span>
      <span><a class="nav-link" id="index_yearly"></a></span>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent15">
        <ul class="navbar-nav ms-auto" id="ULBUTTONS">
            <li>
               <div class="dropdown" id="nav_dropdown">
                   <button class="btn btn-secondary dropdown-toggle" type="button" id="user_balance" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       BALANCE:
                   </button>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       <a class="nav-link" href="./add_funds" disabled>Subscribe</a>
                       <a class="nav-link" href="./withdraw_funds" disabled>Withdraw</a>
                   </div>
               </div>
            </li>  
   
             <li>
               <div class="dropdown" id="nav_dropdown">
                   <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       VOTES:
                   </button>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       <span> <a class="nav-link" id="daily_votes_left">DAILY VOTES:</a></span>                  
                       <span><a class="nav-link" id="monthly_votes_left">MONTHLY VOTES:</a></span>
                       <span><a class="nav-link" id="yearly_votes_left">YEARLY VOTES:</a></span>                  
                   </div>
               </div>
             </li>
   
             <li>
               <div class="dropdown" id="nav_dropdown">
                   <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">METRICS</button>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       <a href="./leaderboards"           class="nav-link disabled">Leaderboards</a>
                       <a href="./history"                class="nav-link">Distribution History</a>
                       <a href="./search_algorithms_page" class="nav-link">Search Algorithms</a>
                       <a href="./tribunal"               class="nav-link">Tribunal</a>
                   </div>
               </div>
             </li>
   
             <li>
                 <div class="dropdown" id="nav_dropdown">
                     <button class="btn btn-secondary dropdown-toggle" type="button" id="user_name_location" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         USER:
                     </button>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" max-width: 100%>
                         <a id="username_location" class="nav-link" href="./user_profile">Profile</a>
                         <a class="nav-link" href="./register">Register</a>
                         <a class="nav-link disabled" href="./messages">Messages</a>
                         <a class="nav-link" href="./notifications">Notifications</a>
                         <a class="nav-link" href="./login">Login</a>
                         <a class="nav-link" href="./logout">Logout</a>
                     </div>
                 </div>
             </li>
                
             <li>
                <div class="dropdown" id="nav_dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        HELP
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" max-width: 100%>
                        <a href="./settings" class="nav-link disabled" >Settings</a>
                        <a href="./contact" class="nav-link">Contact</a>
                        <a href="./instructions" class="nav-link disabled">Intstructions</a>
                        <a href="./FAQ" class="nav-link disabled">FAQ</a>
                        <a href="./terms_and_conditions" class="nav-link">Terms and Conditions</a>
                        <a href="./patch_notes" class="nav-link disabled">Patch Notes</a>
                        <a href="./newsletter" class="nav-link disabled">Newsletter</a>
                        <a href="./cover_page" class="nav-link">Mission</a>
                        <a href="./careers" class="nav-link disabled">Careers</a>
                    </div>
                </div>
            </li>   
         </ul>
      </div>
      
    </nav>

    <div id="title_block">
        {% block main %}

        <div>
            structure.html particular
        </div>

        {% endblock main %}
    </div>
    



    <div class="col-lg-3 item social" id="footer">
        <h6 class="copyright">Mansura © 2022</h6>
    </div>
    <!-- Production version POPPER -->
    <!-- HAVE TO MAKE CHANGES TO THE BROWSER -->

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="static/js/bootstrap-js/bootstrap.js"></script>
    
    <!-- daniel javascript additions-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='js/popper.min.js') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='js/bootstrap.min.js') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='js/jquery.sticky.js') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='js/main.js') }}">
    </script>

</body>
</html>
<script>
    //console.log("hello world structure")
</script>