{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->
{%block main %}
<div class="container">

    <div class="jumbotron">
      <h1>TERMS AND CONDITIONS</h1>
      <p class="lead">Pretty Simple to be honest</p>
    </div>

    <div class="row marketing">
      <div class="col-lg-6">
        <h4>No Porn.</h4>
        <p>For bbvious Reasons...</p>

        <h4>Nothing Illegal.</h4>
        <p>For obvious reasons...</p>

        <h4>No threats to any countries National Security.</h4>
        <p>For obvious reasons...(my discretion sorry)</p>
      
        <h4>If Mansura thinks you're hacking, you'll end up back at this page.</h4>
        <p>:)</p>
        
        <h4>Other content moderation issues will be solved in the <a href="https://mansura.ca/tribunal">Tribunal</a></h4>
        <p>People on the site vote on what they think is permissible.</p>
        
      </div>

    </div>

  </div>

<script>
    console.log("TERMS AND CONDITIONS")
</script>
{% endblock main %}
