{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->
{%block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<!--POSTING SOMETHING-->
<div class="container">
    <div class="row">
        
    </div>
    <div>
        <p>
            HOW IT WORKS:
        </p>
        <p>
            
        </p>
        <p>
            
        </p>
    
    </div>
</div>

<div class="container">
    <div class="jumbotron" style="  padding-top: 10px !important;padding-bottom: 10px !important;">
        <h1 class="cover-heading"><u>POST TRIBUNAL</u></h1>
        <p class="lead">HOW IT WORKS:</p>
        <p class="lead">If a post is reported AND it must have a dislike ratio of 3:1, then it is delisted from main feeds.</p>
        <p class="lead">It can be relisted if people like it from here in the tribunal, and get it's like/dislike ratio back to normal.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-2">
          <div>
            <!--(ads here in the future..)-->
          </div>
        </div>

        <div class="col-7">
            {%for i in range(0, username_len )%}
            <div class="col">
            <div class="card mb-4 shadow-sm border-dark mb-3">
                <div class="card-body">
                    <!-- TODO: CHANGE TO AN HREF TO GO TO THEIR PROFILE -->
                    <div > <!--CARD TITLE-->                  
                        <a href="/{{usernames_list[i]}}">{{usernames_list[i]}}</a>
                                                
                        <!--DAILY -->

                        {% if daily_left == 0  %}
                        <span id="daily_vote  "><button class="btn btn-outline-secondary disabled"><a href="/vote/{{file_ids_list[i]}}/Daily">D: {{day_votes[i]}}</a></button></span>
                        {% else %}
                        <span id="daily_vote  "><button class="btn btn-outline-success"><a href="/vote/{{file_ids_list[i]}}/Daily">D: {{day_votes[i]}}</a></button></span>
                        {% endif %}

                        <!--MONTHLY -->
                        {% if monthly_left == 0 %}
                        <span id="monthly_vote  "><button class="btn btn-outline-secondary disabled"><a href="/vote/{{file_ids_list[i]}}/Monthly">M: {{month_votes[i]}}</a></button></span>
                        {% else %}
                        <span id="monthly_vote  "><button class="btn btn-outline-success"><a href="/vote/{{file_ids_list[i]}}/Monthly">M: {{month_votes[i]}}</a></button></span>
                        {% endif %}

                        <!--YEARLY -->
                        {% if yearly_left == 0 %}
                        <span id="yearly_vote  "><button class="btn btn-outline-secondary disabled"><a href="/vote/{{file_ids_list[i]}}/Yearly">Y: {{year_votes[i]}}</a></button></span>
                        {% else %}
                        <span id="yearly_vote  "><button class="btn btn-outline-success"><a href="/vote/{{file_ids_list[i]}}/Yearly">Y: {{year_votes[i]}}</a></button></span>
                        {% endif %}

                        
                        {% if searcher_has_liked[i] == 0 %}
                        <span id="like"><button class="btn btn-outline-success"><a href="/vote/{{file_ids_list[i]}}/like">LIKES: {{likes[i]}}</a></button></span>
                        {% else %}
                        <span id="like"><button class="btn btn-success"><a href="/vote/{{file_ids_list[i]}}/like" style="color: black;">LIKES: {{likes[i]}}</a></button></span>
                        {% endif %} 
                    
                        {% if searcher_has_disliked[i] == 0 %}
                        <span id="dislike"><button class="btn btn-outline-danger"><a href="/vote/{{file_ids_list[i]}}/dislike">DISLIKES: {{dislikes[i]}}</a></button></span>
                        {% else %}
                        <span id="dislike"><button class="btn btn-danger"><a href="/vote/{{file_ids_list[i]}}/dislike" style="color: black;">DISLIKES: {{dislikes[i]}}</a></button></span>
                        {% endif %} 

                       
                    </div>
                    <!-- POST TEXT -->
                    <div id="text_span">
                        {% if lengths_of_text_files[i] > 300 %}
                            {{text_list[i][:300]}}...
                        {% else %}
                            {{text_list[i]}}
                        {% endif %}            
                    </div>
                    
                    <!-- POST IMAGE -->
                    {% if image_path_list[i] != "" %}
                    <img onclick="enlargeImg()" id="post_pic" src="{{url_for('static', filename=image_path_list[i])}} " width='400' height='200' />
                    {% endif %}
                    <!--PROFILE PICTURE-->
                    <img class="text-right position-absolute top-0 end-0" id="profile_picture" src="{{url_for('static', filename='#UserData/' + usernames_list[i] + '/profile/profile_pic.jpg')}} " width='70' height='70' />


                   
                    <div><br /></div>
                    <div class=" card-footer d-flex justify-content-between align-items-center">
                        <small class="text-muted">
                            <button class="btn btn-secondary" type="button" onclick="reply_modal_toggle({{file_ids_list[i]}})" aria-expanded="false" disabled>
                                <span>REPLY: {{num_replies[i]}}</span>
                            </button>
                            <button class="btn btn-secondary" type="button" aria-expanded="false" disabled>
                                <a href="/report/{{file_ids_list[i]}}"  style="color: white; ">REPORT</a>
                            </button>
                            <button class="btn btn-secondary" type="button" aria-expanded="false" disabled>
                                REPOST (coming)
                            </button>
                            <button class="btn btn-secondary" type="button" aria-expanded="false" disabled>
                                <a href="/{{usernames_list[i]}}_{{paths_list[i]}}-post_page" style="color: white;">GO TO FULL POST</a>
                            </button>
                        </small>
                        <small class="text-muted" id="post_details">
                             <!-- <a href="{{usernames_list[i]}}_{{paths_list[i]}}-post_page">ID:{{file_ids_list[i]}} </a> -->
                            {{dates_list[i]}}
                        </small>
                    </div>
                </div>
            </div>
            </div>
            {%endfor%}
        </div>

        <!--DOING THE SEARCH-->
        <div class="col-3"> 
            <form action="/tribunal" class="form-inline my-2 my-lg-0"  method="POST" id="search_form">
                <input class="input-medium form-control" id="search" name="search" type="search" placeholder="empty / single word (beta)" aria-label="search" onkeyup="this.value = this.value.replace(/[^a-z,A-Z,0-9]/, '')">
                    <div>
                        <button class="btn btn-primary">Search</button>
                        <a class="btn btn-primary" href="/home" role="button">Reset</a>
                        <button class="btn btn-primary" type="button" onclick="save_modal_toggle()">Save Algo</button>
                        <button class="btn btn-primary" type="button" onclick="show_current_algo('not_modal')">Show Algo</button>  
                        <div id="algo_show_location"></div>
                    </div> 
                       
                </input>


               
                <!-- DATE SECTION -->
                <div>
                    <div>
                    </br>
                        UPLOAD DATE:
                    </div>
                    <div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="date_check" value="ALL" id="ALL" checked>
                            <label for="ALL" unselectable>ALL</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="date_check" value="YEAR" id="YEAR">
                            <label for="YEAR" unselectable>YEAR</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="date_check" value="MONTH" id="MONTH">
                            <label for="MONTH" unselectable>MONTH</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="date_check" value="DAY" id="DAY">
                            <label for="DAY" unselectable>DAY</label>
                        </div>                       
                    </div>
                </div>

                
                <!-- ORDER BBY SECTION-->
                <div>
                    <div>
                    </br>
                        ALGORITHM DEFAULT
                    </div>
                    <div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" value="TOP" id="TOP" checked>
                            <label for="TOP" unselectable>TOP</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" id="HOT" disabled>
                            <label for="HOT" unselectable >HOT</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" id="NEW" disabled>
                            <label for="NEW" unselectable>NEW</label>
                        </div>
                        <div>
                        </br>
                            ALGORITHM MANSURA CUSTOM / AI
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" value="EIGENVECTOR CENTRALITY" id="EIGENVECTOR CENTRALITY" disabled>
                            <label for="EIGENVECTOR CENTRALITY" unselectable>EIGENVECTOR CENTRALITY</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" value="BASIC NEURAL NET" id="BASIC NEURAL NET" disabled>
                            <label for="BASIC NEURAL NET" unselectable>BASIC NEURAL NET</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" value="NOOB PAGERANK" id="NOOB PAGERANK" disabled>
                            <label for="NOOB PAGERANK" unselectable>NOOB PAGERANK</label>
                        </div>
                        <div> 
                            </br>
                            <div>
                                ALGORITHM FAVOURITES (your top 20)
                            </div>
                            <div id="algo_favourites">
                                {%for i in range(0, favourites_len )%}
                                <div class="btn btn-outline-success">
                                    <input type="radio" name="order_check" value="{{search_favourites[i][2]}}" id="{{search_favourites[i][2]}}">
                                    <label for="{{search_favourites[i][2]}}" unselectable>{{search_favourites[i][2]}}</label>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                
                </br>
                </br>
                </br>
                </br>
                
                <!-- WHERE CLAUSES BY SECTION-->
                <div>
                    <div>
                        WHERE CLAUSES 
                        <button class="btn btn-outline-success" type="button" onclick="add_another_where_clause()">+</button>
                        <button class="btn btn-outline-danger"  type="button" onclick="remove_another_where_clause()">-</button>
                        (max 8)
                    </div>
                </div>
                <div id="where_clause_additions">
                    <div>
                        <select name="and_or_clause" id="and_or_clause" class="dropdown-content">
                            <option id="AND">AND</option>           
                            <option id="OR" disabled>OR</option>
                        </select> 
                        <select name="where_clauses" id="where_clauses" class="dropdown-content">
                            <option id="DAY VOTES">POST DAY VOTES</option>
                            <option id="MONTH VOTES">POST MONTH VOTES</option>
                            <option id="YEAR VOTES">POST YEAR VOTES</option>            
                            <option id="LIKES"disabled>POST LIKES</option>           
                            <option id="REPLIES"disabled>POST REPLIES</option>
                            <option id="POST SENTIMENT ANALYSIS"disabled>POST SENTIMENT</option>
                            <option id="POST HAS IMAGE" disabled>POST HAS IMAGE T/F</option>
                            <option id="HAS SOURCE"disabled>HAS SOURCE</option>
                            <option id="USER FOLLOWING"disabled>USER FOLLOWING</option>
                            <option id="USER FOLLOWERS"disabled>USER FOLLOWERS</option>
                            <option id="USER USER BLOCKED THEM" disabled>USER NUM BLOCKED</option>
                            <option id="FRIENDS WITH" disabled>USER FRIENDS WITH</option>
                            <option id="Post/Like Ratio" disabled>USER POST/LIKE RATIO</option>
                            <option id="USER POLARIZATION" disabled>USER POLARIZATION</option>
                            <option id="USER FOLLOWING (x)" disabled>USER FOLLOWING (x)</option>
                            <option id="USER FOLLOWED BY (x)" disabled>USER FOLLOWED BY (x)</option>
                            <option id="USER 18+" disabled>USER 18+</option>
                            <option id="USER FROM COUNTRY (x)" disabled>USER FROM COUNTRY (x)</option>    
                        </select> 
                        <select name="higher_equal_lower" id="higher_equal_lower" class="dropdown-content">
                            <option id="greater_equal">>=</option>           
                            <option id="equal_equal">==</option>
                            <option id="less_equal"><=</option>
                        </select> 
                        <input name="num_search_text" id="num_search_text" type="text"maxlength="4" size="4" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"><br><br>
                    </div>
                </div>

                <div>
                    <input type="hidden" id="search_arguments" name="search_arguments" value="{{search_arguments}}" /> <!--search_arguments:{{search_arguments}}-->
                </div>
                <div>
                    <input type="hidden" id="page_number" name="page_number" value={{page_no}} /><!--Page Test:{{page_no}}--> 
                </div>
            </form>
        </div>


    </div>
</div>


<!--save algo modal-->
<div id="save_modal" class="modal">
    <div class="modal-content">
        <form action="upload" method="POST" enctype="multipart/form-data">
            <input class="input-medium form-control" id="Algorithm Name" name="Algorithm Name" type="Algorithm Name" placeholder="Algorithm Name" aria-label="search" onkeyup="this.value = this.value.replace(/[^a-z,A-Z,0-9]/, '')" maxlength="20" required>
                <div>
                    <button class="btn btn-primary" value="save_algo" name="save_algo">Save Algo (1 a day)</button>
                    <button class="btn btn-primary" type="button" onclick="show_current_algo('modal')">Show Algo</button>  
                    <input type="hidden" id="hidden_search_arguments" name="hidden_search_arguments" value="{{search_arguments}}" /> 
                    <div name="div_with_algo" value="div_with_algo"></div>
                    
                    
                    <div id="algo_show_location_modal"></div>
                </div> 
            </input>
        </form>
    </div>
</div>
<!--save algo modal-->


<!-- reply_modal  -->
<div id="reply_modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <form action="upload" method="POST" enctype="multipart/form-data">
            <div>
                <label for="textbox">Whats on your mind? (10000 chars)</label>
                <br>
                <textarea id="textbox" name="textbox" rows="7" cols="50" maxlength="10000"></textarea>

            </div>

            <div class="custom-file">
                <!-- .mp4,.csv, .onnx,-->
                <input type="file" class="custom-file-input" name="file" accept=".png, .jpeg, .jpg, .pdf" id="dataset_file">
                <input type="text" id="hidden_file_size" name="hidden_file_size" placeholder="auto" size="1" value="">
                <label class="custom-file-label" for="file">PNG/JPG/PDF</label>

                <div id="dataset_return_message">

                </div>
            </div>

            <div>                
                <label class="custom-file-label" for="file">Replying to File Id</label>
                <input type="number" id="reply_external_source" name="external_source" value="" >(this person will get 10% of what your winnings)              
            </div>
            
            <!-- EXTERNAL LINK -->
            <div>
                <input type="checkbox" name="button_reply_external_source_link" value="button_reply_external_source_link" onchange="reply_enable_external_link()">
                <label><b>Source:</b></label>
                <input id="reply_external_source_link" name="external_source_link" type="url" placeholder="link to site/video(youtube/tiktok)" disabled>
            </div>
            
            <div class="dropdown" name="distro_algo">
                <select id="distro_algo" class="dropdown-content" name="distro_algo" onchange="howmanysectionsfunc()">
                    <option id="equal">EQUAL DISTRIBUTION</option>           
                    <option id="log">LOG DISTRIBUTION</option>
                    <option id="log_equal">LOG EQUAL DISTRIBUTION</option>
                </select>
                more coming soon...
            </div>

            <div id="how_many_sections" name="">
                
            </div>

            <div>    <!-- IMAGES -->
                <img id="equal_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/equal_distribution.png')}}" width='400' height='200' />
                <img id="log_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/log_distribution.png')}}" width='400' height='200' />
                <img id="equa_log_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/log_equal_distribution.png')}}" width='400' height='200' />
            </div>


            <br>

            <button class="btn btn-primary" name="upload" value="upload">UPLOAD</button>

        </form>
    </div>
</div>
<!-- reply Modal -->

<!-- post_modal  -->
<div id="post_modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <form action="upload" method="POST" enctype="multipart/form-data">
            <div>
                <label for="textbox">Whats on your mind? (10000 max chars)</label>
                <br>
                <textarea id="textbox" name="textbox" rows="7" cols="50" maxlength="10000"></textarea>

            </div>

            <div class="custom-file">
                <!-- .mp4,.csv, .onnx,-->
                <input type="file" class="custom-file-input" name="file" accept=".png, .jpeg, .jpg, .pdf" id="dataset_file">

                <div id="dataset_return_message">

                </div>
            </div>

            <div>
                <input type="checkbox" id="built_from_other_file" name="built_from_other_file" value="built_from_other_file" onchange="enable_built_from_other()">
                <label class="custom-file-label" for="file">Replying to File Id</label>
                <input type="number" id="external_source" name="external_source" value="" disabled>(this person will get 10% of what your winnings)
                
            </div>

            <div>
                <input type="checkbox" name="button_external_source_link" value="button_external_source_link" onchange="enable_exteral_link()">
                <label><b>Source:</b></label>
                <input id="external_source_link" name="external_source_link" type="url" placeholder="link to site/video(youtube/tiktok)" disabled>
            </div>


            <div class="dropdown" name="distro_algo">
                <select id="distro_algo" class="dropdown-content" name="distro_algo" onchange="howmanysectionsfunc()">
                    <option id="equal">EQUAL DISTRIBUTION</option>           
                    <option id="log">LOG DISTRIBUTION</option>
                    <option id="log_equal">LOG EQUAL DISTRIBUTION</option>
                </select>
                more coming soon...
            </div>

            <div id="how_many_sections" name="">
                
            </div>

            <div>    <!-- IMAGES -->
                <img id="equal_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/equal_distribution.png')}}" width='400' height='200' />
                <img id="log_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/log_distribution.png')}}" width='400' height='200' />
                <img id="equa_log_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/log_equal_distribution.png')}}" width='400' height='200' />
            </div>

            <br>

            <button class="btn btn-primary" name="upload" value="upload">UPLOAD</button>
        </form>

    </div>
</div>
<!-- post_modal  -->


<script>

    document.getElementById("username_location").value = '{{ session_username }}'

    if (window.history.replaceState) { // I FORGET

        window.history.replaceState(null, null, window.location.href);

    }


</script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock main %}
