{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->
{%block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<button class="btn btn-secondary" type="button" id="myBtn2" aria-expanded="false">
    POST
</button>
<div class="dropdown" id="nav_dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        SEARCH
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <form action="" method="post">
            <div class="input-group">
                <div class="form-outline">
                    <!-- SEARCH BUTTON-->
                    <input display="inline" type="search" id="search" class="form-control" />
                </div>
            </div>
            <div id="date_nav">
                <input type="radio" id="daily_radio" name="date_check" value="Daily" /> Daily
                <input type="radio" name="date_check" value="Monthly" /> Monthly
                <input type="radio" name="date_check" value="Yearly" /> Yearly
                <input type="radio" name="date_check" value="TOTAL" /> TOTAL
            </div>

            <button name="sort_datasets" value="sort_datasets">SEARCH</button>

        </form>

        <form id="page_no" action="" method="post">
            <input type="hidden" id="page_number" name="page_number" value={{page_no}} />
        </form>
    </div>
</div>


<div class="container">
    {%for i in range(0, username_len )%}
    <div class="col" style="width: 90%">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <div id="value_for_modal" value="{{file_ids_list[i]}}">{{file_ids_list[i]}}</div>
                <!-- TODO: CHANGE TO AN HREF TO GO TO THEIR PROFILE -->
                {{usernames_list[i]}}
                <!--DAILY -->
                {% if daily_left == 0 %}
                <span id="daily_vote  "><button class="btn btn-outline-secondary disabled"><a href="/vote/{{file_ids_list[i]}}/Daily">D: {{day_votes[i]}}</a></button></span>
                {% else %}
                <span id="daily_vote  "><button class="btn btn-outline-success"><a href="/vote/{{file_ids_list[i]}}/Daily">D: {{day_votes[i]}}</a></button></span>
                {% endif %}

                <!--MONTHLY -->
                {% if monthly_left == 0 %}
                <span id="monthly_vote  "><button class="btn btn-outline-secondary disabled"><a href="/vote/{{file_ids_list[i]}}/Daily">M: {{month_votes[i]}}</a></button></span>
                {% else %}
                <span id="monthly_vote  "><button class="btn btn-outline-success"><a href="/vote/{{file_ids_list[i]}}/Daily">D: {{month_votes[i]}}</a></button></span>
                {% endif %}

                <!--YEARLY -->
                {% if yearly_left == 0 %}
                <span id="yearly_vote  "><button class="btn btn-outline-secondary disabled"><a href="/vote/{{file_ids_list[i]}}/Daily">Y: {{year_votes[i]}}</a></button></span>
                {% else %}
                <span id="yearly_vote  "><button class="btn btn-outline-success"><a href="/vote/{{file_ids_list[i]}}/Daily">D: {{year_votes[i]}}</a></button></span>
                {% endif %}

                <div>
                    {{text_list[i]}}
                </div>

                {% if image_path_list[i] != "" %}
                <img onclick="enlargeImg()" id="post_pic" src="{{url_for('static', filename=image_path_list[i])}} " width='400' height='200' />
                {% endif %}

                <img class="text-right position-absolute top-0 end-0" id="profile_picture" src="{{url_for('static', filename='#UserData/' + usernames_list[i] + '/profile/profile_pic.jpg')}} " width='30' height='30' />


                <!-- PUTTING SHIT AT THE BOTTOM -->
                <div><br /></div>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">
                        <button class="btn btn-secondary" type="button" onclick="modal_toggle" aria-expanded="false">
                            REPLY
                        </button>
                    </small>
                    <small class="text-muted" id="post_details">
                        <a href="{{usernames_list[i]}}-{{paths_list[i]}}">ID:{{file_ids_list[i]}} </a>
                        <u>BYTES: {{file_sizes_list[i]}}</u>
                        {% if age_18_list[i] == "older_18" %}
                        <u>18+</u>
                        {% endif %}
                        Source:<a href='{{source_list[i]}}'>{{source_list[i]}}</a>
                        {% if post_sources_list[i] != "N-A" %}
                        Referencing: {{post_sources_list[i]}}

                        {% endif %}
                        {{dates_list[i]}}

                    </small>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}

</div>

<div id="myModal2" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <form action="upload" method="POST" enctype="multipart/form-data">
            <div>
                <label for="textbox">Whats on your mind? (300 chars) [NO EMOJIS FOR NOW SORRY LOL]</label>
                <br>
                <textarea id="textbox" name="textbox" rows="7" cols="50" maxlength="300"></textarea>

            </div>

            <div class="custom-file">
                <!-- .mp4,.csv, .onnx,-->
                <input type="file" class="custom-file-input" name="file" accept=".png, .jpeg, .jpg, .pdf" id="dataset_file">
                <input type="text" id="hidden_file_size" name="hidden_file_size" placeholder="auto" size="1" value="">
                <label class="custom-file-label" for="file">PNG/JPG/CSV/ONNX/MP4</label>

                <div id="dataset_return_message">

                </div>
            </div>



            <div>
                <input type="checkbox" id="built_from_other_file" name="built_from_other_file" value="built_from_other_file" onchange="enable_built_from_other()">
                <label class="custom-file-label" for="file">Built on another Mensura File Id</label>
                <input type="number" id="external_source" name="external_source" value="" disabled>
                (this person will get 5% of what your winnings)
            </div>

            <div>
                <input type="checkbox" id="button_external_source_link" name="button_external_source_link" value="button_external_source_link" onchange="enable_exteral_link()">
                <label><b>Source:</b></label>
                <input id="external_source_link" name="external_source_link" type="url" placeholder="Enter Source LINK" disabled>
            </div>


            <br>
            <div>
                <input type="checkbox" id="older_18" name="older_18" value="older_18">
                <label for="">This is for adults only 18+? (SEVERE PENALITIES FOR GETTING THIS WRONG)</label><br>
            </div>

            <br>

            <button class="btn btn-primary" name="upload" value="upload">UPLOAD</button>

            FILE SIZE MUST BE < 10 GIGS

        </form>

    </div>
</div>
<!-- The Modal  -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <form action="upload" method="POST" enctype="multipart/form-data">
            <div>
                <label for="textbox">Whats on your mind? (300 chars) [NO EMOJIS FOR NOW SORRY LOL]</label>
                <br>
                <textarea id="textbox" name="textbox" rows="7" cols="50" maxlength="300"></textarea>

            </div>

            <div class="custom-file">
                <!-- .mp4,.csv, .onnx,-->
                <input type="file" class="custom-file-input" name="file" accept=".png, .jpeg, .jpg, .pdf" id="dataset_file">
                <input type="text" id="hidden_file_size" name="hidden_file_size" placeholder="auto" size="1" value="">
                <label class="custom-file-label" for="file">PNG/JPG/CSV/ONNX/MP4/PDF</label>

                <div id="dataset_return_message">

                </div>
            </div>



            <div>
                <label class="custom-file-label" for="file">Built on another Mensura File Id </label>
                <input type="number" id="external_source" name="external_source" value="{{file_ids_list[i]}}" disabled>
                (this person will get 5% of what your winnings)
            </div>

            <div>
                <input type="checkbox" id="button_external_source_link" name="button_external_source_link" value="button_external_source_link" onchange="enable_exteral_link()">
                <label><b>Source:</b></label>
                <input id="external_source_link" name="external_source_link" type="url" placeholder="Enter Source LINK" disabled>
            </div>


            <br>
            <div>
                <input type="checkbox" id="older_18" name="older_18" value="older_18">
                <label for="">This is for adults only 18+? (SEVERE PENALITIES FOR GETTING THIS WRONG)</label><br>
            </div>

            <br>

            <button class="btn btn-primary" name="upload" value="upload">UPLOAD</button>

            FILE SIZE MUST BE < 10 GIGS

        </form>

    </div>
</div>
<!-- The Modal -->




<script>
    function enable_built_from_other() {
        if (document.getElementById("external_source").disabled == true) {
            document.getElementById('external_source').removeAttribute("disabled");

        }
        else {
            document.getElementById("external_source").setAttribute("disabled", "enabled")
        }

    }
    function enable_exteral_link() {
        if (document.getElementById("external_source_link").disabled == true) {
            document.getElementById('external_source_link').removeAttribute("disabled");

        }
        else {
            document.getElementById("external_source_link").setAttribute("disabled", "enabled")
        }

    }
    function post_details_func() {
        console.log(document.getElementById("insert_post").innerHTML);
        if (document.getElementById("insert_post").innerHTML == "") {
            document.getElementById("insert_post").innerHTML = ``
        } else {
            document.getElementById("insert_post").innerHTML = ""
        }

    }
    console.log("Citizen of the Network State, Member of the Church of the New Hackers")
    //console.log('D-POOL: {{dailypool}}')
    //console.log('M-POOL: {{monthlypool}}')
    //console.log('Y-POOL: {{yearlypool}}')

    //console.log('D-LEFT: {{daily_left}}')
    //console.log('M-LEFT: {{monthly_left}}')
    //console.log('Y-LEFT: {{yearly_left}}')
    //console.log('BALANC: {{user_balance}}')


    test_text = "HELLO WORLD"
    btn_size = 'btn-sm'

    monthly_button = ""
    yearly_button = ""
    console.log(`VOTES LEFT:\n${d_votes_left}\n${m_votes_left}\n${y_votes_left}`)

    //DAILY
    if (d_votes_left == 0) {
        d_button_class = "btn btn-outline-secondary disabled"
    }
    else {
        d_button_class = "btn btn-outline-success"
        console.log("using d")
    }
    //MONTHLY
    if (m_votes_left == 0) {
        m_button_class = "btn btn-outline-secondary disabled"
    }
    else {

        m_button_class = "btn btn-outline-success"
        console.log("using m")
    }
    // YEARLY
    if (y_votes_left == 0) {
        y_button_class = "btn btn-outline-secondary disabled"
    }
    else {
        y_button_class = "btn btn-outline-success"
        console.log("using y")
    }

    document.getElementById("username_location").value = '{{ session_username }}'




    if (window.history.replaceState) { // I FORGET

        window.history.replaceState(null, null, window.location.href);

    }



    // DEFINING SCORLL LOGIC
    window.onscroll = function (ev) {
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
            console.log("BOTTOM")
            document.getElementById("page_no").submit();

        }
    };



    // CHANGING SIZE OF IMAGE

    function enlargeImg() {
        img = document.getElementById("post_pic");
        console.log("EXECUTION")
        if (img.style.transform == "scale(1)") {
            console.log("GROW")
            img.style.transform = "scale(2)";
            img.style.transition = "transform 0.25s ease";
        }

        else {
            console.log("SHRINK")
            img.style.transform = "scale(1)";
            img.style.transition = "transform 0.25s ease";
        }
    }



    // MODAL RELATED
    // Get the modal
    
    //var modal2 = document.getElementById("myModal2");

    // Get the button that opens the modal
    //var btn = document.getElementById("myBtn");
    //var btn2 = document.getElementById("myBtn2");


    // When the user clicks on the button, open the modal
    //btn.onclick = function () {
    //    modal.style.display = "block";
    //}

    //btn2.onclick = function () {
    //    modal2.style.display = "block";
    //}



    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if ((event.target == modal) || (event.target == modal2)) {
            modal.style.display = "none";
            modal2.style.display = "none";
        }
    }



</script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% endblock main %}
