{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->
{%block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/user_profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">


<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-2">
          <div>
            <!--(ads here in the future..)-->
          </div>
        </div>

        <div class="col-7">
            <!-- SESSION VARIABLES-->
            <div id="profile_details" class="d-flex justify-content-center">
                <div id="profile picture">
                    <h1>{{host_user}}</h1>
                    <img id="profile_picture"
                        src="{{url_for('static', filename='#UserData/' + host_user + '/profile/profile_pic.jpg')}} " width='200' height='200' 
                    />  
                    <div id="add_new_profile_picture"></div>     
                    <br>
                </div>
            </div>

            <!-- SESSION VARIABLES--> 
            <form action="/edit_bio" method="POST" >
                {% if is_host == "true" %}
                <div class="d-flex justify-content-center">
                    <textarea id="edit_bio" maxlength="150" name="edit_bio" rows="4" cols="40">{{profile_bio}}</textarea>
                    <button type="submit" class="btn btn-secondary"  name="edit_bio" type="submit">Save Bio</button>
                </div>
                {% else %}
                <div class="d-flex justify-content-center">
                    <textarea id="edit_bio" maxlength="40" name="edit_bio" rows="4" cols="40" disabled>{{profile_bio}}</textarea>
                </div>
                {% endif %}
            </form>
                        <!-- SESSION VARIABLES-->
            <div class="d-flex justify-content-center">
                <div class="dropdown">
                    <br>
                    <button class="dropbtn">Following: {{friend_count}}</button> <!-- TODO GO TO A PERSONS FOLLOWER PAGE-->
                    <div id="my_following_dropdown" class="dropdown-content">
                    </div>
                </div>
                <div class="dropdown">
                    <br>
                    <button class="dropbtn">Followers: {{follow_count}}</button>
                    <div id="my_followers_dropdown" class="dropdown-content">
                    </div>
                </div>
            </div>
            </br>
                        <!-- SESSION VARIABLES-->
            {% if is_host == "true" %}
            <div class="" id="post_div">
                <button class="btn btn-secondary" type="button" onclick="post_modal_toggle()" aria-expanded="false">
                    POST
                </button>
            </div>
            {% endif %}

            <!-- SESSION VARIABLES-->
            <div  class="d-flex justify-content-center">
                <div id="non_host_add_remove">
                </div>
            </div>
        </div>

        <!--DOING THE SEARCH-->
        <div class="col-3" id="search_div"> 
            <form action="/{{host_user}}" class="form-inline my-2 my-lg-0"  method="POST" id="search_form">
                <input class="input-medium form-control" id="search" name="search" type="search" placeholder="empty / single word (beta)" aria-label="search" onkeyup="this.value = this.value.replace(/[^a-z,A-Z,0-9]/, '')">
                    <div>
                        <button class="btn btn-secondary">Search</button>
                        <a class="btn btn-secondary" href="/home" role="button">Reset</a>
                        <button class="btn btn-secondary" type="button" onclick="save_modal_toggle()">Save Algo</button>
                        <button class="btn btn-secondary" type="button" onclick="show_current_algo('not_modal')">Show Algo</button>  
                        <div id="algo_show_location"></div>
                    </div> 
                       
                </input>

                <!-- DATE SECTION -->
                <div>
                    <div>
                    </br>
                        UPLOAD DATE:
                    </div>
                    <div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="date_check" value="ALL" id="ALL" checked>
                            <label for="ALL" unselectable>ALL</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="date_check" value="YEAR" id="YEAR">
                            <label for="YEAR" unselectable>YEAR</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="date_check" value="MONTH" id="MONTH">
                            <label for="MONTH" unselectable>MONTH</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="date_check" value="DAY" id="DAY">
                            <label for="DAY" unselectable>DAY</label>
                        </div>                       
                    </div>
                </div>

                
                <!-- ORDER BBY SECTION-->
                <div>
                    <div>
                    </br>
                        ALGORITHM DEFAULT
                    </div>
                    <div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" value="TOP" id="TOP" checked>
                            <label for="TOP" unselectable>TOP</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" id="HOT" disabled>
                            <label for="HOT" unselectable >HOT</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" id="NEW" disabled>
                            <label for="NEW" unselectable>NEW</label>
                        </div>
                        <div>
                        </br>
                            ALGORITHM MANSURA CUSTOM / AI
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" value="EIGENVECTOR CENTRALITY" id="EIGENVECTOR CENTRALITY" disabled>
                            <label for="EIGENVECTOR CENTRALITY" unselectable>EIGENVECTOR CENTRALITY</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" value="BASIC NEURAL NET" id="BASIC NEURAL NET" disabled>
                            <label for="BASIC NEURAL NET" unselectable>BASIC NEURAL NET</label>
                        </div>
                        <div class="btn btn-outline-success">
                            <input type="radio" name="order_check" value="NOOB PAGERANK" id="NOOB PAGERANK" disabled>
                            <label for="NOOB PAGERANK" unselectable>NOOB PAGERANK</label>
                        </div>
                        <div> 
                            </br>
                            <div>
                                ALGORITHM FAVOURITES (5 Max)
                            </div>
                            <div id="algo_favourites">
                                {%for i in range(0, favourites_len )%}
                                <div class="btn btn-outline-success">
                                    <input type="radio" name="order_check" value="{{search_favourites[i][2]}}" id="{{search_favourites[i][2]}}">
                                    <label for="{{search_favourites[i][2]}}" unselectable>{{search_favourites[i][2]}}</label>
                                </div>
                                {%endfor%}
                            </div>

                        </div>
                    </div>
                </div>
                
                <!-- WHERE CLAUSES BY SECTION-->
                <div>
                    <div>
                        WHERE CLAUSES 
                        <button class="btn btn-outline-success" type="button" onclick="add_another_where_clause()">+</button>
                        <button class="btn btn-outline-danger"  type="button" onclick="remove_another_where_clause()">-</button>
                        (max 10 for now)
                    </div>
                </div>
                <div id="where_clause_additions">
                    <div>
                        <select name="and_or_clause" id="and_or_clause" class="dropdown-content">
                            <option id="AND">AND</option>           
                            <option id="OR">OR</option>
                        </select> 
                        <select name="where_clauses" id="where_clauses" class="dropdown-content">
                            <option id="DAY VOTES">POST DAY VOTES</option>
                            <option id="MONTH VOTES">POST MONTH VOTES</option>
                            <option id="YEAR VOTES">POST YEAR VOTES</option>            
                            <option id="LIKES"disabled>POST LIKES</option>           
                            <option id="REPLIES"disabled>POST REPLIES</option>
                            <option id="POST SENTIMENT ANALYSIS"disabled>POST SENTIMENT</option>
                            <option id="POST HAS IMAGE" disabled>POST HAS IMAGE T/F</option>
                            <option id="HAS SOURCE"disabled>HAS SOURCE</option>
                            <option id="USER FOLLOWING"disabled>USER FOLLOWING</option>
                            <option id="USER FOLLOWERS"disabled>USER FOLLOWERS</option>
                            <option id="USER USER BLOCKED THEM" disabled>USER NUM BLOCKED</option>
                            <option id="FRIENDS WITH" disabled>USER FRIENDS WITH</option>
                            <option id="Post/Like Ratio" disabled>USER POST/LIKE RATIO</option>
                            <option id="USER POLARIZATION" disabled>USER POLARIZATION</option>
                            <option id="USER FOLLOWING (x)" disabled>USER FOLLOWING (x)</option>
                            <option id="USER FOLLOWED BY (x)" disabled>USER FOLLOWED BY (x)</option>
                            <option id="USER 18+" disabled>USER 18+</option>
                            <option id="USER FROM COUNTRY (x)" disabled>USER FROM COUNTRY (x)</option>    
                        </select> 
                        <select name="higher_equal_lower" id="higher_equal_lower" class="dropdown-content">
                            <option id="greater_equal">>=</option>           
                            <option id="equal_equal">==</option>
                            <option id="less_equal"><=</option>
                        </select> 
                        <input name="num_search_text" id="num_search_text" type="text"maxlength="4" size="4" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ><br><br>
                    </div>
                </div>

                <div>
                    <input type="hidden" id="search_arguments" name="search_arguments" value="{{search_arguments}}" /> <!--search_arguments:{{search_arguments}}-->
                </div>
                <div>
                    <input type="hidden" id="page_number" name="page_number" value={{page_no}} /><!--Page Test:{{page_no}}--> 
                </div>
            </form>
        </div>
    </div>
</div>
</br>


<!-- SESSION VARIABLES-->
<div class="container-fluid" id="profile_posts_div">
    <div class="row ">
        <div class="col-2">
          <div>
            <!--(ads here in the future..)-->
          </div>
        </div>

        <div class="col-7">
            {%for i in range(0, username_len )%}
            <div class="col">
            <div class="card mb-4 shadow-sm border-dark mb-3">
                <div class="card-body">
                    <!-- TODO: CHANGE TO AN HREF TO GO TO THEIR PROFILE -->
                    <div > <!--CARD TITLE-->                  
                        <a href="/{{usernames_list[i]}}">{{usernames_list[i]}}</a>
                                                
                        <!--DAILY -->
                        {% if daily_left == 0 or uploader_is_subbed[i] != 1%}
                        <span id="daily_vote  "><button class="btn btn-outline-secondary disabled"><a href="/vote/{{file_ids_list[i]}}/Daily">D: {{day_votes[i]}}</a></button></span>
                        {% else %}
                        <span id="daily_vote  "><button class="btn btn-outline-success"><a href="/vote/{{file_ids_list[i]}}/Daily">D: {{day_votes[i]}}</a></button></span>
                        {% endif %}

                        <!--MONTHLY -->
                        {% if monthly_left == 0 or uploader_is_subbed[i] != 1%}
                        <span id="monthly_vote  "><button class="btn btn-outline-secondary disabled"><a href="/vote/{{file_ids_list[i]}}/Monthly">M: {{month_votes[i]}}</a></button></span>
                        {% else %}
                        <span id="monthly_vote  "><button class="btn btn-outline-success"><a href="/vote/{{file_ids_list[i]}}/Monthly">M: {{month_votes[i]}}</a></button></span>
                        {% endif %}

                        <!--YEARLY -->
                        {% if yearly_left == 0 or uploader_is_subbed[i] != 1%}
                        <span id="yearly_vote  "><button class="btn btn-outline-secondary disabled"><a href="/vote/{{file_ids_list[i]}}/Yearly">Y: {{year_votes[i]}}</a></button></span>
                        {% else %}
                        <span id="yearly_vote  "><button class="btn btn-outline-success"><a href="/vote/{{file_ids_list[i]}}/Yearly">Y: {{year_votes[i]}}</a></button></span>
                        {% endif %}

                        {% if searcher_has_liked[i] == 0 %}
                        <span id="like"><button class="btn btn-outline-success"><a href="/vote/{{file_ids_list[i]}}/like">LIKES: {{likes[i]}}</a></button></span>
                        {% else %}
                        <span id="like"><button class="btn btn-success"><a href="/vote/{{file_ids_list[i]}}/like" style="color: black;">LIKES: {{likes[i]}}</a></button></span>
                        {% endif %} 
                    
                        {% if searcher_has_disliked[i] == 0 %}
                        <span id="dislike"><button class="btn btn-outline-danger"><a href="/vote/{{file_ids_list[i]}}/dislike">DISLIKES: {{dislikes[i]}}</a></button></span>
                        {% else %}
                        <span id="dislike"><button class="btn btn-danger"><a href="/vote/{{file_ids_list[i]}}/dislike" style="color: black;">DISLIKES: {{dislikes[i]}}</a></button></span>
                        {% endif %}
                    </div>

                    
                    <!-- POST TEXT -->
                    <div id="text_span">
                        {% if lengths_of_text_files[i] > 300 %}
                            {{text_list[i][:300]}}...
                        {% else %}
                            {{text_list[i]}}
                        {% endif %}            
                    </div>

                    {% if image_path_list[i] != "" %}
                    <img onclick="enlargeImg()" id="post_pic" src="{{url_for('static', filename=image_path_list[i])}} " width='400' height='200' />
                    {% endif %}
                    
                    <div>
                        {% if "PROPERLY EMBEDDED HTML TAG" in source_list[i]%}
                        <p>
                            {{source_list[i] | safe}}
                        </p>
                        {% endif %} 
                    </div>
                    
                    <!-- POST IMAGE -->
  
                    <!--PROFILE PICTURE-->
                    <img class="text-right position-absolute top-0 end-0" id="profile_picture" src="{{url_for('static', filename='#UserData/' + usernames_list[i] + '/profile/profile_pic.jpg')}} " width='70' height='70' />


                    <!-- PUTTING SHIT AT THE BOTTOM -->
                    <div><br /></div>
                    <div class=" card-footer d-flex justify-content-between align-items-center">
                        <small class="text-muted">
                            <button class="btn btn-secondary" type="button" onclick="reply_modal_toggle({{file_ids_list[i]}})" aria-expanded="false">
                                <span>REPLY: {{num_replies[i]}}</span>
                            </button>
                            <button class="btn btn-secondary" type="button" aria-expanded="false">
                                <a href="/report/{{file_ids_list[i]}}"  style="color: white; ">REPORT</a>
                            </button>
                            <button class="btn btn-secondary" type="button" aria-expanded="false" disabled>
                                REPOST (coming)
                            </button>
                            <button class="btn btn-secondary" type="button" aria-expanded="false">
                                <a href="/{{usernames_list[i]}}_{{paths_list[i]}}-post_page" style="color: white;">GO TO FULL POST</a>
                            </button>
                        </small>
                        <small class="text-muted" id="">
                            <!-- <a href="{{usernames_list[i]}}_{{paths_list[i]}}-post_page">ID:{{file_ids_list[i]}} </a> -->
                           {{dates_list[i]}}
                       </small>
                    </div>
                </div>
            </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>

<!--save algo modal-->
<div id="save_modal" class="modal">
    <div class="modal-content">
        <form action="upload" method="POST" enctype="multipart/form-data">
            <input class="input-medium form-control" id="Algorithm Name" name="Algorithm Name" type="Algorithm Name" placeholder="Algorithm Name" aria-label="search" onkeyup="this.value = this.value.replace(/[^a-z,A-Z,0-9]/, '')" maxlength="20" required>
                <div>
                    <button class="btn btn-secondary" value="save_algo" name="save_algo">Save Algo (1 a day)</button>
                    <button class="btn btn-secondary" type="button" onclick="show_current_algo('modal')">Show Algo</button>  
                    <input type="hidden" id="hidden_search_arguments" name="hidden_search_arguments" value="{{search_arguments}}" /> 
                    
                    <div name="div_with_algo" value="div_with_algo"></div>
                    
                    
                    <div id="algo_show_location_modal"></div>
                </div> 
            </input>
        </form>
    </div>
</div>
<!--save algo modal-->

<!-- reply_modal  -->
<div id="reply_modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <form action="upload" method="POST" enctype="multipart/form-data">
            <div>
                <label for="textbox">Whats on your mind? (10000 chars)</label>
                <br>
                <textarea class="form-control" id="textbox" name="textbox" rows="7" cols="50" maxlength="10000" required></textarea>

            </div>

            <div class="custom-file">
                <!-- .mp4,.csv, .onnx,-->
                <input class="form-control" type="file" class="custom-file-input" name="file" accept=".png, .jpeg, .jpg" id="dataset_file" placeholder="IMAGE">
                <div id="dataset_return_message">
                </div>
            </div>
            </br>

            <div> 
                <b>Replying To</b>(this id will get 10% of what winnings)                
                <input class="form-control" onkeyup="this.value = this.value.replace(/[^0-9]/, '')" type="text" id="reply_external_source" name="external_source" value="" maxlength="18" value="replying to which file?" readonly="readonly">             
            </div>
            </br>
            <!--
            <div class="mb-1 row">
                <input class="form-check-input" type="checkbox" name="button_reply_external_source_link" value="button_reply_external_source_link" onchange="reply_enable_external_link()"></input>
                <div class="col-sm-10">
                    <input class="form-control"id="reply_external_source_link" name="external_source_link" type="url" placeholder="link to site/video(youtube/tiktok)" disabled>
                </div>
            </div>
            -->
            <!-- EXTERNAL LINK -->
            <div>
                <input class="form-check-input" type="checkbox" name="button_reply_external_source_link" value="button_reply_external_source_link" onchange="reply_enable_external_link()">
                <label><b>Source Link:</b></label>
                <input class="form-control"id="reply_external_source_link" name="external_source_link" type="url" placeholder="link to site/video(youtube/tiktok)" disabled>
            </div>
            </br>
            
            <select class="form-select form-select-lg mb-3" aria-label="Default select example" id="distro_algo" name="distro_algo" onchange="howmanysectionsfunc()" >
                <option id="equal"selected>EQUAL DISTRIBUTION</option>           
                <option id="log">LOG DISTRIBUTION</option>
                <option id="log_equal">LOG EQUAL DISTRIBUTION</option>
                <option id="reverse_log" disabled>REVERSE LOG DISTRIBUTION</option>
                <option id="reverse_log_equal" disabled>REVERSE LOG EQUAL DISTRIBUTION</option>
            </select>

            <div id="how_many_sections" name="">
                
            </div>
            <div>    <!-- IMAGES -->
                <img class="img-fluid" id="equal_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/equal_distribution.png')}}" width='400' height='200' />
                <img class="img-fluid" id="log_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/log_distribution.png')}}" width='400' height='200' />
                <img class="img-fluid" id="equa_log_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/log_equal_distribution.png')}}" width='400' height='200' />
            </div>
            <br>
            <button class="btn btn-secondary" name="upload" value="upload">UPLOAD</button>

        </form>
    </div>
</div>
<!-- reply Modal -->


<!-- post_modal  -->
<div id="post_modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <form action="upload" method="POST" enctype="multipart/form-data">
            <div>
                <label for="textbox">Whats on your mind? (10000 max chars)</label>
                
                <br>
                <textarea class="form-control" id="textbox" name="textbox" rows="7" cols="50" maxlength="10000" required></textarea>
            </div>

            <div class="custom-file">
                <!-- .mp4,.csv, .onnx,-->
                <input type="file" class="form-control" name="file" accept=".png, .jpeg, .jpg" id="dataset_file">
                <div id="dataset_return_message">
                </div>
            </div>
            </br>

            <div>
                <input type="checkbox" id="built_from_other_file" name="built_from_other_file" value="built_from_other_file" onchange="enable_built_from_other()"> 
                <b>Replying To</b>(this id will get 10% of what winnings)                
                <input class="form-control" onkeyup="this.value = this.value.replace(/[^0-9]/, '')" type="text" id="external_source" name="external_source" value="" maxlength="18" value="replying to which file?" disabled>             
            </div>
            </br>

            <div>
                <input class="form-check-input" type="checkbox" name="button_external_source_link" value="button_external_source_link" onchange="enable_exteral_link()">
                <label><b>Source Link:</b></label>
                <input class="form-control"id="external_source_link" name="external_source_link" type="url" placeholder="link to site/video(youtube/tiktok)" disabled>
            </div>
            </br>

            <select class="form-select form-select-lg mb-3" aria-label="Default select example" id="distro_algo" name="distro_algo" onchange="howmanysectionsfunc()" >
                <option id="equal"selected>EQUAL DISTRIBUTION</option>           
                <option id="log">LOG DISTRIBUTION</option>
                <option id="log_equal">LOG EQUAL DISTRIBUTION</option>
                <option id="reverse_log" disabled>REVERSE LOG DISTRIBUTION</option>
                <option id="reverse_log_equal" disabled>REVERSE LOG EQUAL DISTRIBUTION</option>
            </select>

            <div id="how_many_sections" name="">
                
            </div>

            <div>    <!-- IMAGES -->
                <img class="img-fluid" id="equal_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/equal_distribution.png')}}" width='400' height='200' />
                <img class="img-fluid" id="log_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/log_distribution.png')}}" width='400' height='200' />
                <img class="img-fluid" id="equa_log_dist" src="{{url_for('static', filename='matplotlib_pics/chart_locations/log_equal_distribution.png')}}" width='400' height='200' />
            </div>

            <br>

            <button class="btn btn-secondary" name="upload" value="upload">UPLOAD</button>
        </form>

    </div>
</div>
<!-- post_modal  -->
<!-- post_modal  -->

<div id="dataset_return_message">

</div>


<script>
    document.getElementById("reply_external_source_link").disabled = true; // setting default to disabled
    
    function get_wanted_string_following(string) {
        // console.log(string, string.length);
        if (string.length == 0 || string.length == 2){
            return "NO FOLLOWING";
        }
        // console.log(string)

        first_apost_split = string.split(";")[1];
        //console.log(first_apost_split)

        second_ampr_split = first_apost_split.split("&")[0];
        // console.log(second_ampr_split)

        return second_ampr_split
    }
    function get_wanted_string_followers(string){
        // console.log(string, string.length);
        if (string.length == 0 || string.length == 2){
            return "NO FOLLOWERS";
        }
        // console.log(string)

        first_apost_split = string.split(";")[1];
        //console.log(first_apost_split)

        second_ampr_split = first_apost_split.split("&")[0];
        // console.log(second_ampr_split)

        return second_ampr_split
    }

    // CHECKING WHO'S PROFILE IT IS TO SEE IF THERE NEEDS TO BE AN ADD USER SPOT
    // THE TRIPLE === COULD LEAD TO FUNKY BEHAVIOUR
    host_profile = "{{is_host}}"
    can_follow = "{{can_follow}}"
    if (host_profile != "true") {
        if (can_follow == "false") {
            document.getElementById("non_host_add_remove").innerHTML = `

                <form action="/add_user/{{host_user}}" method="POST">
                    <button class="btn btn-secondary"  name="add_user_button" type="submit" disabled>Follow {{host_user}}</button>
                </form>

                <form action="/remove_user/{{host_user}}" method="POST">
                    <button class="btn btn-secondary" name="remove_user_button" type="submit">Unfollow {{host_user}}</button>
                </form>`
        } else {
            document.getElementById("non_host_add_remove").innerHTML = `

                <form action="/add_user/{{host_user}}" method="POST">
                    <button class="btn btn-secondary" name="add_user_button" type="submit">Follow {{host_user}}</button>
                </form>

                <form action="/remove_user/{{host_user}}" method="POST">
                    <button class="btn btn-secondary" name="remove_user_button" type="submit" disabled>Unfollow {{host_user}}</button>
                </form>`
        }


    }
    else {
        document.getElementById("add_new_profile_picture").innerHTML = `
            <form action="user_profile" method="POST" enctype="multipart/form-data">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="file" id="file" accept=".png, .jpeg, .jpg">
                    <label class="custom-file-label" for="file">PROFILE PICTURE</label>
                </div>
                <button type="submit" class="btn btn-secondary">Add New Picture</button>
            </form>
        `;
    }












</script>
<script src="{{ url_for('static', filename='js/user_profile.js') }}"></script>
{% endblock main %}
