{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->
{%block main %}
<!-- PAYPAL BUY BUTTON--> 

<form name="my_form" method="POST">

</form>

<div class="container">
    <form name="my_form" class="form-signup" method="POST" >
        
        <h2 class="form-signup-heading">How much would you like sent to your paypal account? <h6>(should be 1 business day max)</h6></h2>
        <h2 class="form-signup-heading">Your balance: {{balance}}</h2>
        <h2 class="form-signup-heading" id="paypal_fee">Paypal Transaction Fee: 0</h2>
      
      
      <input class="form-control" id="withdrawl_amount" type="text" name="withdraw_amount" onkeyup="disableButton();show_paypals_cut()"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
      <input class="form-control" id="myBtn" type="submit" name="withdraw_button" value="Withdraw" disabled/>Min 0.50 (else paypal will take everything and you get nothing)

    </form>
</div>
<script>
    function show_paypals_cut(){
        num_in_field = document.getElementById("withdrawl_amount").value
        console.log("show_paypals_cut()", num_in_field)
        document.getElementById("paypal_fee").innerHTML = ""
    }
    d_votes_left = '{{ daily_left }}';
    m_votes_left = '{{ monthly_left }}';
    y_votes_left = '{{ yearly_left }}';
    // console.log(d_votes_left)
    /*
    document.getElementById("index_daily").innerHTML = 'DAILY POOL: ${{dailypool}}';
    document.getElementById("index_monthly").innerHTML = 'MONTHLY POOL: ${{monthlypool }}';
    document.getElementById("index_yearly").innerHTML = 'YEARLY POOL: ${{yearlypool }}';

    document.getElementById("daily_votes_left").innerHTML = `DAILY VOTES: ${d_votes_left}`;
    document.getElementById("monthly_votes_left").innerHTML = `MONTHLY VOTES: ${m_votes_left}`;
    document.getElementById("yearly_votes_left").innerHTML = `YEARLY VOTES: ${y_votes_left}`;
    document.getElementById("user_balance").innerHTML = 'BALANCE:${{user_balance}}';
    */
    function disableButton() {
        // console.log("TEST")
        var txt = document.getElementById('withdrawl_amount').value;
        var btn = document.getElementById('submit');
        console.log(txt)
        //console.log(txt);
        if (txt == "" || txt == "NaN" ){
            document.getElementById("myBtn").disabled = true;
            return ""
        }
        if (!isNaN(txt)){
            //console.log(txt,  "is a number")
            let value = parseFloat(txt); 
            let user_balance = parseFloat('{{balance}}');

            if (value < 0.50){
                console.log(`TOO SMALL ${value} < 0.50`)
                document.getElementById("myBtn").disabled = true;
            }else{
                if (value > user_balance){
                    console.log(`TOO BIG ${value} > ${user_balance}`)
                    document.getElementById("myBtn").disabled = true;
                }else{
                    console.log(`NUM GOOD ${value} <= ${user_balance}`)
                    document.getElementById("myBtn").disabled = false;
                }
            }

        }else{
            console.log("NOT NUM: \n",txt)
        }
    }
    /* show calculation live for what nums are avialable and what theyll get back


    */
</script>
    
{% endblock main %}