{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->
{%block main %}
<!-- PAYPAL BUY BUTTON--> 

<form name="my_form" method="POST">

</form>

<div class="container">
    <form name="my_form" class="form-signup" method="POST" >
        
        <h2 class="form-signup-heading">How much would you like sent to your paypal account?</h2>
        <h2 class="form-signup-heading">Your balance: {{balance}}</h2>
      
      
      <input class="form-control" id="withdrawl_amount" type="text" name="withdraw_amount"  onkeyup="disableButton()" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
      <input class="form-control" id="myBtn" type="submit" name="withdraw_button" value="Withdraw" disabled/>Min 0.50 (else paypal will take everything and you get nothing)

    </form>



</div>
<script>

    function disableButton() {
        // console.log("TEST")
        var txt = document.getElementById('withdrawl_amount').value;
        var btn = document.getElementById('submit');
        console.log(txt)
        //console.log(txt);
        if (txt == "" || txt == "NaN" ){
            document.getElementById("myBtn").disabled = true;
            return ""
        }
        if (!isNaN(txt)){
            //console.log(txt,  "is a number")
            let value = parseFloat(txt); 
            let user_balance = parseFloat('{{balance}}');

            if (value < 0.50){
                console.log(`TOO SMALL ${value} < 0.50`)
                document.getElementById("myBtn").disabled = true;
            }else{
                if (value > user_balance){
                    console.log(`TOO BIG ${value} > ${user_balance}`)
                    document.getElementById("myBtn").disabled = true;
                }else{
                    console.log(`NUM GOOD ${value} <= ${user_balance}`)
                    document.getElementById("myBtn").disabled = false;
                }
            }

        }else{
            console.log("NOT NUM: \n",txt)
        }
    }
    /* show calculation live for what nums are avialable and what theyll get back


    */
</script>
    
{% endblock main %}