{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->
{%block main %}
<div class="container">
    <div class="jumbotron" style="  padding-top: 10px !important;padding-bottom: 10px !important;">
        <h1><ul>PHRASE TRIBUNAL</ul></h1>
        <p class="lead">Scraped commonly offensive terms off the internet, blocked by default (just changed into ****).</p>
        <p class="lead">Feel free to add more, they will be subject to the same criterion.</p>
        <p class="lead">Equation:</p>
        <p class="lead">If (word.numdislikes) > 10 && (word.numdislikes / (word.numdislikes + word.numlikes)) > 0.8</p>
    </div>
    <form name="my_form" class="form-signup" method="POST">
        <div class="input-group mb-3">
            <input name="bad_word" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="" maxlength="20">
            <button  class="btn btn-lg btn-primary btn-block" type="submit">Vote to disable this word</button>
            <p>If you choose a stupid word like "and" I'll just disable the functionality to participate in governance on your account.</p>
        </div>
    </form>
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Phrase</th>
                    <th scope="col">Votes to Keep</th>
                    <th scope="col">Votes to Censor</th>
                </tr>        
            </thead>
            <tbody>
                {%for group in blocked_words %}
                <tr>
                    <td>{{group[0]}}</td>
                    <td>
                        <form action="/word_tribunal" method="post">      
                            <input class="btn btn-secondary" type="submit" type="hidden" value="{{group[0]}}:  {{group[1]}}" name="keep_phrase"/>
                    </td>
                    <td>
                            <input class="btn btn-secondary" type="submit" value="{{group[0]}}:  {{group[2]}}" name="block_phrase"/>
                        </form>
                    </td>
                </tr>
                {%endfor%}
            </tbody>      
        </table>
    </div>
</div>





<script>

</script>
{% endblock main %}
