{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->
{%block main %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            DAILY
            {%for i in range(daily_len)%}
                <div>
                    <a href="/user_download_excel/Daily/{{all_daily[i]}}" target="blank"><button class='btn btn-default'>{{all_daily[i]}}</button></a> 
                </div>
            {%endfor%}
        </div>

        <div class="col-sm">
            MONTHLY
            {%for i in range(monthly_len)%}
            <div>
                <a href="/user_download_excel/Monthly/{{all_monthly[i]}}" target="blank"><button class='btn btn-default'> {{all_monthly[i]}}</button></a> 
            </div>
            {%endfor%}
        </div>
        
        <div class="col-sm">
            YEARLY
            {%for i in range(yearly_len)%}

            <div>
                <a href="/user_download_excel/Yearly/{{all_yearly[i]}}" target="blank"><button class='btn btn-default'>{{all_yearly[i]}}</button></a> 
            </div>
            {%endfor%}
        </div>
    </div>
</div>

<script>

</script>
{% endblock main %}
