<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>
    
    
    <!-- TRY NOT TO FUCK WITH THE ORDER, THIS IS NIGHTMARISHLY DELICATE-->

    <!--DANIEL CSS-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">
    
    <!--MY CSS-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo/icon_logo.png') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/2bootstrap.min.css" />
    <link rel="stylesheet" media="screen" href="static/css/main.css"> 
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="sticky-footer.css" rel="stylesheet">

    <!--FOOTER-->
    <title>Mansura</title>
</head>

<body>
    <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark" id="nav_test">
      <span><a id="navbar_name" class="navbar-brand mx-3" style="color:white;"href="./">Mansura</a></span>
      <span style="font-size:11px;color:white;">open beta v0.1</span>
      <span style=color:#333333>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
      <!--<span><a class="nav-link" id="index_daily" style="color:green;"></a></span>-->
      <span><a class="nav-link" id="index_monthly" style="color:green;"></a></span>
      <!--<span><a class="nav-link" id="index_yearly" style="color:green;"></a></span>-->
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent15">
        <ul class="navbar-nav ms-auto" id="ULBUTTONS">
            <li>
                <div>
                    <form action="/">
                        <input class="btn btn-link" type="submit" value="HOME" style="text-decoration: none; color: white; border-right: 1px solid gray">
                    </form>
                </div>
            </li>  
            
            <li>
               <div class="dropdown" id="nav_dropdown">
                   <button class="btn btn-link dropdown-toggle" type="button" id="user_balance" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: white; border-right: 1px solid gray">
                       BALANCE:
                   </button>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       <a class="nav-link" href="./add_funds" disabled>Subscribe</a>
                       <a class="nav-link" href="./withdraw_funds" disabled>Withdraw</a>
                       <a class="nav-link" id="monthly_votes_left">Votes:</a>
                   </div>
               </div>
            </li>  
            <!--
            <li>
               <div class="dropdown" id="nav_dropdown">
                   <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: white; border-right: 1px solid gray">
                       VOTES:
                   </button>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       <span> <a class="nav-link" id="daily_votes_left">DAILY VOTES:</a></span>                

                       <span><a class="nav-link" id="yearly_votes_left">YEARLY VOTES:</a></span>            
                   </div>
               </div>
            </li>
            -->        
   
            <li>
               <div class="dropdown" id="nav_dropdown">
                   <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: white; border-right: 1px solid gray">METRICS</button>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="./leaderboards"           class="nav-link disabled">Leaderboards</a>
                        <a href="./history"                class="nav-link">Distribution History</a>
                        <a href="./search_algorithms_page" class="nav-link">Search Algorithms</a>
                   </div>
               </div>
             </li>
             <li>
                <div class="dropdown" id="nav_dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: white; border-right: 1px solid gray">TRIBUNAL</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="./tribunal" class="nav-link">Post Tribunal</a>
                        <a href="./word_tribunal" class="nav-link">Phrase Tribunal</a>
                        <a href="./account_tribunal" class="nav-link disabled">Account Tribunal</a>
                        <a href="./system_tribunal" class="nav-link disabled">Mansura Tribunal</a>
                    </div>
                </div>
              </li>
   
             <li>
                 <div class="dropdown" id="nav_dropdown">
                     <button class="btn btn-link dropdown-toggle" type="button" id="user_name_location" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: white; border-right: 1px solid gray">
                         USER:
                     </button>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" max-width: 100%>
                            <a id="username_location" class="nav-link" href="./user_profile">Profile</a>
                            <a class="nav-link" href="./register">Register</a>
                            <a class="nav-link disabled" href="./messages">Messages</a>
                            <a class="nav-link disabled" href="./notifications">Notifications</a>
                            <a id="username_location" class="nav-link" href="./favourites">Favourites</a>
                            <a class="nav-link" href="./login">Login</a>
                            <a class="nav-link" href="./logout">Logout</a>
                     </div>
                 </div>
             </li>
                
             <li>
                <div class="dropdown" id="nav_dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: white; border-right: 1px solid gray">
                        HELP
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" max-width: 100%>
                        <a href="./settings" class="nav-link disabled" >Settings</a>
                        <a href="./contact" class="nav-link">Contact</a>
                        <a href="./instructions" class="nav-link">Intstructions</a>
                        <a href="./FAQ" class="nav-link disabled">FAQ</a>
                        <a href="./terms_and_conditions" class="nav-link">Terms and Conditions</a>
                        <a href="./patch_notes" class="nav-link disabled">Patch Notes</a>
                        <a href="./newsletter" class="nav-link disabled">Newsletter</a>
                        <a href="./cover_page" class="nav-link">Mission</a>
                        <a href="./careers" class="nav-link disabled">Careers</a>
                    </div>
                </div>
            </li>   
         </ul>
      </div>
      
    </nav>

    <div id="title_block">
        {% block main %}

        <div>
            structure.html particular
        </div>

        {% endblock main %}
    </div>
    
    <div class="col-lg-3 item social" id="footer">
        <h6 class="copyright">Mansura © 2022</h6>
    </div>
    <!-- Production version POPPER -->
    <!-- HAVE TO MAKE CHANGES TO THE BROWSER -->

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="static/js/bootstrap-js/bootstrap.js"></script>
    
    <!-- daniel javascript additions-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='js/popper.min.js') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='js/bootstrap.min.js') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='js/jquery.sticky.js') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='js/main.js') }}">
    <script async src="https://www.tiktok.com/embed.js"></script>
    </script>

</body>
</html>
<script>
    /* CONSTANTS */
    var scroll_disabler = 0 //FOR SOME REASON YOU CAN HIT THE BOTTOM OF THE PAGE AND SCROLL 10X, DISABLES THIS
    var where_counter = 1
    var where_clause_string = `
        <div>
            <div> 
                <select name="and_or_clause${where_counter}" id="and_or_clause${where_counter}" class="dropdown-content">
                                <option id="AND">AND</option>           
                                <option id="OR">OR</option>
                </select>  
                <select name="where_clauses${where_counter}" id="where_clauses${where_counter}" class="dropdown-content">
                                <option id="DAY VOTES">POST DAY VOTES</option>
                                <option id="MONTH VOTES">POST MONTH VOTES</option>
                                <option id="YEAR VOTES">POST YEAR VOTES</option>            
                                <option id="LIKES"disabled>POST LIKES</option>           
                                <option id="REPLIES"disabled>POST REPLIES</option>
                                <option id="POST SENTIMENT ANALYSIS"disabled>POST SENTIMENT</option>
                                <option id="POST HAS IMAGE" disabled>POST HAS IMAGE T/F</option>
                                <option id="HAS SOURCE"disabled>HAS SOURCE</option>
                                <option id="USER FOLLOWING"disabled>USER FOLLOWING</option>
                                <option id="USER FOLLOWERS"disabled>USER FOLLOWERS</option>
                                <option id="USER USER BLOCKED THEM" disabled>USER NUM BLOCKED</option>
                                <option id="FRIENDS WITH" disabled>USER FRIENDS WITH</option>
                                <option id="Post/Like Ratio" disabled>USER POST/LIKE RATIO</option>
                                <option id="USER POLARIZATION" disabled>USER POLARIZATION</option>
                                <option id="USER FOLLOWING (x)" disabled>USER FOLLOWING (x)</option>
                                <option id="USER FOLLOWED BY (x)" disabled>USER FOLLOWED BY (x)</option>
                                <option id="USER 18+" disabled>USER 18+</option>
                                <option id="USER FROM COUNTRY (x)" disabled>USER FROM COUNTRY (x)</option> 
                </select> 
                <select name="higher_equal_lower${where_counter}" id="higher_equal_lower" class="dropdown-content">
                    <option id="equal">>=</option>           
                    <option id="log">==</option>
                    <option id="log_equal"><=</option>
                </select> 
                <input name="num_search_text${where_counter}" id="num_search_text${where_counter}" size="4" type="text"maxlength="4" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"><br><br>
            </div>
        </div>
        `
    var slider = `Sections: 1-10
        <div class="slidecontainer" >
            <input type="range" min="1" max="10" value="5" class="slider" id="myRange" name="how_many_sections_">
        </div>
        `

    
    
    
    //document.getElementById("index_daily").innerHTML = 'DAILY POOL: {{dailypool}}';
    document.getElementById("index_monthly").innerHTML = 'MONTHLY POOL: {{monthlypool }}';
    //document.getElementById("index_yearly").innerHTML = 'YEARLY POOL: {{yearlypool }}';
    //document.getElementById("daily_votes_left").innerHTML = `DAY VOTES LEFT:  {{daily_left}} (per day)`;
    document.getElementById("monthly_votes_left").innerHTML = `Votes: {{monthly_left}}`;
    //document.getElementById("yearly_votes_left").innerHTML = `YEA VOTES LEFT:  {{yearly_left}}`;
    document.getElementById("user_balance").innerHTML = 'BALANCE:{{user_balance}}';

    /*FUNCTIONS*/
    function howmanysectionsfunc(){

        dist_chosen = document.getElementById("distro_algo").value 

        if (dist_chosen == "LOG EQUAL DISTRIBUTION"){
            document.getElementById("how_many_sections").innerHTML = slider
        }
        else{
            document.getElementById("how_many_sections").innerHTML= ""
        }
        }
    function remove_another_where_clause(){
        //console.log("remove_another_where_clause");
        document.getElementById("where_clause_additions").innerHTML = where_clause_string
        where_counter = 1 
        //console.log(where_clause_string)
        //console.log(where_counter)
        }

    function enable_built_from_other() {
        if (document.getElementById("external_source").disabled == true) {
            document.getElementById('external_source').removeAttribute("disabled");
            get.setAttribute('readonly', true);

        }
        else {
            document.getElementById("external_source").setAttribute("disabled", "enabled")
        }

        }

    function enable_exteral_link() {
        // console.log("hello world")
        if (document.getElementById("external_source_link").disabled == true) { // if disabled
            document.getElementById('external_source_link').removeAttribute("disabled");

        }
        else {
            document.getElementById("external_source_link").setAttribute("disabled", "enabled")
        }
        }

    function reply_enable_external_link(){
        if (document.getElementById("reply_external_source_link").disabled == true) { // if disabled
            document.getElementById('reply_external_source_link').removeAttribute("disabled");
        }
        else {
            document.getElementById("reply_external_source_link").setAttribute("disabled", "enabled")
        }
        }

    function post_details_func() {
        console.log(document.getElementById("insert_post").innerHTML);
        if (document.getElementById("insert_post").innerHTML == "") {
            document.getElementById("insert_post").innerHTML = ``
        } else {
            document.getElementById("insert_post").innerHTML = ""
        }

        }

    function post_modal_toggle() {
        var modal = document.getElementById("post_modal");
        modal.style.display = "block";
     }

    function reply_modal_toggle(file_id) {
        // console.log(file_id)
        document.getElementById("reply_external_source").value = file_id;
        var modal = document.getElementById("reply_modal");
        modal.style.display = "block";
        }

    function save_modal_toggle(file_id) {
        // console.log(file_id)
        var modal = document.getElementById("save_modal");
        modal.style.display = "block";
        }

    
        // CHANGING SIZE OF IMAGE
    function enlargeImg() {
        img = document.getElementById("post_pic");
        console.log("EXECUTION")
        if (img.style.transform == "scale(1)") {
            console.log("GROW")
            img.style.transform = "scale(2)";
            img.style.transition = "transform 0.25s ease";
        }

        else {
            console.log("SHRINK")
            img.style.transform = "scale(1)";
            img.style.transition = "transform 0.25s ease";
        }
        } 


    function show_current_algo(div_called_from){
        console.log(div_called_from)
        if (div_called_from == 'modal'){
            if (document.getElementById("algo_show_location_modal").innerHTML == ""){
            document.getElementById("algo_show_location_modal").innerHTML= "{{search_arguments}}"
            }else{
                document.getElementById("algo_show_location_modal").innerHTML= ""
            }
        }else{
            if (document.getElementById("algo_show_location").innerHTML == ""){
            document.getElementById("algo_show_location").innerHTML= "{{search_arguments}}"
            }else{
                document.getElementById("algo_show_location").innerHTML= ""
            }
        }
        /*algo_show_location_modal*/      
        }



    function add_another_where_clause(){
        console.log(where_counter)
        var where_clause_string = `
        <div>
            <div>
                <select name="and_or_clause${where_counter}" id="and_or_clause${where_counter}" class="dropdown-content">
                            <option id="AND">AND</option>           
                            <option id="OR">OR</option>
                </select>  
                <select name="where_clauses${where_counter}" id="where_clauses${where_counter}" class="dropdown-content">
                            <option id="DAY VOTES">POST DAY VOTES</option>
                            <option id="MONTH VOTES">POST MONTH VOTES</option>
                            <option id="YEAR VOTES">POST YEAR VOTES</option>            
                            <option id="LIKES"disabled>POST LIKES</option>           
                            <option id="REPLIES"disabled>POST REPLIES</option>
                            <option id="POST SENTIMENT ANALYSIS"disabled>POST SENTIMENT</option>
                            <option id="POST HAS IMAGE" disabled>POST HAS IMAGE T/F</option>
                            <option id="HAS SOURCE"disabled>HAS SOURCE</option>
                            <option id="USER FOLLOWING"disabled>USER FOLLOWING</option>
                            <option id="USER FOLLOWERS"disabled>USER FOLLOWERS</option>
                            <option id="USER USER BLOCKED THEM" disabled>USER NUM BLOCKED</option>
                            <option id="FRIENDS WITH" disabled>USER FRIENDS WITH</option>
                            <option id="Post/Like Ratio" disabled>USER POST/LIKE RATIO</option>
                            <option id="USER POLARIZATION" disabled>USER POLARIZATION</option>
                            <option id="USER FOLLOWING (x)" disabled>USER FOLLOWING (x)</option>
                            <option id="USER FOLLOWED BY (x)" disabled>USER FOLLOWED BY (x)</option>
                            <option id="USER 18+" disabled>USER 18+</option>
                            <option id="USER FROM COUNTRY (x)" disabled>USER FROM COUNTRY (x)</option> 
                </select> 
                <select name="higher_equal_lower${where_counter}" id="higher_equal_lower" class="dropdown-content">
                    <option id="equal">>=</option>           
                    <option id="log">==</option>
                    <option id="log_equal"><=</option>
                </select> 
                <input name="num_search_text${where_counter}" id="num_search_text${where_counter}" size="4" type="text"maxlength="4" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"><br><br>
            </div>
        </div>
        `
        if (where_counter < 8){
            document.getElementById("where_clause_additions").innerHTML += where_clause_string
            where_counter +=1
        }    
    }
    
    
    
    
    
    /* WINDOW FUNCTIONS */
    
    
    
    window.onscroll = function (ev) {
        js_can_scroll = '{{can_scroll}}'
        //javascript bool is fucking stupid
        if (js_can_scroll == "true" || js_can_scroll == "True" ){
            console.log("WINDOW HEIGHT:", window.innerHeight + window.scrollY)
            console.log("DOCUMENT BODY:",document.body.scrollHeight)
            
            if ((window.innerHeight + window.scrollY) >= document.body.scrollHeight-20) {
                
                if (scroll_disabler <1) {
                scroll_disabler += 1
                console.log("BOTTOM OF PAGE")
                
                current_page_no = document.getElementById("page_number").value;
                new_page_no = parseInt(current_page_no) + 1

                console.log("current_page_no", current_page_no)
                console.log("new_page_no", new_page_no)

                document.getElementById("page_number").value = new_page_no
                document.getElementById("search_form").submit();
                
                }
            }
            
        } 
        else{
            console.log(js_can_scroll)
        }

        };
    
    
    
        // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        var modal = document.getElementById("reply_modal");
        var modal2 = document.getElementById("post_modal");
        var modal3 = document.getElementById("save_modal");
        var modal4 = document.getElementById("search_show_modal");
        
        console.log("modal", modal)
        if ((event.target == modal) || (event.target == modal2) || (event.target == modal3) || (event.target == modal4)) {
            if (modal != null){
                modal.style.display = "none";
            }
            if (modal2 != null){
                modal2.style.display = "none";
            }
            if (modal3 != null){
                modal3.style.display = "none";
            }
            if (modal4 != null){
                modal4.style.display = "none";
            }
            
            
            
            
        }
        }  


</script>